NbtLogic/Service References/ChemWatchCommonServices/soap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://jr.chemwatch.net/CWWS.BP.CISPRO/CommonService.svc/soap?xsd=xsd0" />
      <xsd:import schemaLocation="http://jr.chemwatch.net/CWWS.BP.CISPRO/CommonService.svc/soap?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://jr.chemwatch.net/CWWS.BP.CISPRO/CommonService.svc/soap?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://jr.chemwatch.net/CWWS.BP.CISPRO/CommonService.svc/soap?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://jr.chemwatch.net/CWWS.BP.CISPRO/CommonService.svc/soap?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Chemwatch.Entities.TranslationCodes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommonService_GetVersion_InputMessage">
    <wsdl:part name="parameters" element="GetVersion" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetVersion_OutputMessage">
    <wsdl:part name="parameters" element="GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetLanguages_InputMessage">
    <wsdl:part name="parameters" element="GetLanguages" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetLanguages_OutputMessage">
    <wsdl:part name="parameters" element="GetLanguagesResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetReportGeneratorLanguages_InputMessage">
    <wsdl:part name="parameters" element="GetReportGeneratorLanguages" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetReportGeneratorLanguages_OutputMessage">
    <wsdl:part name="parameters" element="GetReportGeneratorLanguagesResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetCountries_InputMessage">
    <wsdl:part name="parameters" element="GetCountries" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetCountries_OutputMessage">
    <wsdl:part name="parameters" element="GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetDocumentTypes_InputMessage">
    <wsdl:part name="parameters" element="GetDocumentTypes" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetDocumentTypes_OutputMessage">
    <wsdl:part name="parameters" element="GetDocumentTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetDocumentSources_InputMessage">
    <wsdl:part name="parameters" element="GetDocumentSources" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetDocumentSources_OutputMessage">
    <wsdl:part name="parameters" element="GetDocumentSourcesResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetHazardCodes_InputMessage">
    <wsdl:part name="parameters" element="GetHazardCodes" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetHazardCodes_OutputMessage">
    <wsdl:part name="parameters" element="GetHazardCodesResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetPrecautionaryCodes_InputMessage">
    <wsdl:part name="parameters" element="GetPrecautionaryCodes" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetPrecautionaryCodes_OutputMessage">
    <wsdl:part name="parameters" element="GetPrecautionaryCodesResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetRiskCodes_InputMessage">
    <wsdl:part name="parameters" element="GetRiskCodes" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetRiskCodes_OutputMessage">
    <wsdl:part name="parameters" element="GetRiskCodesResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetSafetyCodes_InputMessage">
    <wsdl:part name="parameters" element="GetSafetyCodes" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetSafetyCodes_OutputMessage">
    <wsdl:part name="parameters" element="GetSafetyCodesResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GenerateGHSClassification_InputMessage">
    <wsdl:part name="parameters" element="GenerateGHSClassification" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GenerateGHSClassification_OutputMessage">
    <wsdl:part name="parameters" element="GenerateGHSClassificationResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_ConvertToPdf_InputMessage">
    <wsdl:part name="parameters" element="ConvertToPdf" />
  </wsdl:message>
  <wsdl:message name="ICommonService_ConvertToPdf_OutputMessage">
    <wsdl:part name="parameters" element="ConvertToPdfResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetAllCodes_InputMessage">
    <wsdl:part name="parameters" element="GetAllCodes" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetAllCodes_OutputMessage">
    <wsdl:part name="parameters" element="GetAllCodesResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetUserSettings_InputMessage">
    <wsdl:part name="parameters" element="GetUserSettings" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetUserSettings_OutputMessage">
    <wsdl:part name="parameters" element="GetUserSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_SetUserSettings_InputMessage">
    <wsdl:part name="parameters" element="SetUserSettings" />
  </wsdl:message>
  <wsdl:message name="ICommonService_SetUserSettings_OutputMessage">
    <wsdl:part name="parameters" element="SetUserSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetVendorGroups_InputMessage">
    <wsdl:part name="parameters" element="GetVendorGroups" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetVendorGroups_OutputMessage">
    <wsdl:part name="parameters" element="GetVendorGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_SetDomainLogo_InputMessage">
    <wsdl:part name="parameters" element="SetDomainLogo" />
  </wsdl:message>
  <wsdl:message name="ICommonService_SetDomainLogo_OutputMessage">
    <wsdl:part name="parameters" element="SetDomainLogoResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_SetOutbackSettings_InputMessage">
    <wsdl:part name="parameters" element="SetOutbackSettings" />
  </wsdl:message>
  <wsdl:message name="ICommonService_SetOutbackSettings_OutputMessage">
    <wsdl:part name="parameters" element="SetOutbackSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetOutbackSettings_InputMessage">
    <wsdl:part name="parameters" element="GetOutbackSettings" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetOutbackSettings_OutputMessage">
    <wsdl:part name="parameters" element="GetOutbackSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetTranslationTexts_InputMessage">
    <wsdl:part name="parameters" element="GetTranslationTexts" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetTranslationTexts_OutputMessage">
    <wsdl:part name="parameters" element="GetTranslationTextsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommonService">
    <wsdl:operation name="GetVersion">
      <wsdl:input wsaw:Action="urn:ICommonService/GetVersion" message="ICommonService_GetVersion_InputMessage" />
      <wsdl:output wsaw:Action="urn:ICommonService/GetVersionResponse" message="ICommonService_GetVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLanguages">
      <wsdl:input wsaw:Action="urn:ICommonService/GetLanguages" message="ICommonService_GetLanguages_InputMessage" />
      <wsdl:output wsaw:Action="urn:ICommonService/GetLanguagesResponse" message="ICommonService_GetLanguages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportGeneratorLanguages">
      <wsdl:input wsaw:Action="urn:ICommonService/GetReportGeneratorLanguages" message="ICommonService_GetReportGeneratorLanguages_InputMessage" />
      <wsdl:output wsaw:Action="urn:ICommonService/GetReportGeneratorLanguagesResponse" message="ICommonService_GetReportGeneratorLanguages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:input wsaw:Action="urn:ICommonService/GetCountries" message="ICommonService_GetCountries_InputMessage" />
      <wsdl:output wsaw:Action="urn:ICommonService/GetCountriesResponse" message="ICommonService_GetCountries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentTypes">
      <wsdl:input wsaw:Action="urn:ICommonService/GetDocumentTypes" message="ICommonService_GetDocumentTypes_InputMessage" />
      <wsdl:output wsaw:Action="urn:ICommonService/GetDocumentTypesResponse" message="ICommonService_GetDocumentTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentSources">
      <wsdl:input wsaw:Action="urn:ICommonService/GetDocumentSources" message="ICommonService_GetDocumentSources_InputMessage" />
      <wsdl:output wsaw:Action="urn:ICommonService/GetDocumentSourcesResponse" message="ICommonService_GetDocumentSources_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHazardCodes">
      <wsdl:input wsaw:Action="urn:ICommonService/GetHazardCodes" message="ICommonService_GetHazardCodes_InputMessage" />
      <wsdl:output wsaw:Action="urn:ICommonService/GetHazardCodesResponse" message="ICommonService_GetHazardCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrecautionaryCodes">
      <wsdl:input wsaw:Action="urn:ICommonService/GetPrecautionaryCodes" message="ICommonService_GetPrecautionaryCodes_InputMessage" />
      <wsdl:output wsaw:Action="urn:ICommonService/GetPrecautionaryCodesResponse" message="ICommonService_GetPrecautionaryCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRiskCodes">
      <wsdl:input wsaw:Action="urn:ICommonService/GetRiskCodes" message="ICommonService_GetRiskCodes_InputMessage" />
      <wsdl:output wsaw:Action="urn:ICommonService/GetRiskCodesResponse" message="ICommonService_GetRiskCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSafetyCodes">
      <wsdl:input wsaw:Action="urn:ICommonService/GetSafetyCodes" message="ICommonService_GetSafetyCodes_InputMessage" />
      <wsdl:output wsaw:Action="urn:ICommonService/GetSafetyCodesResponse" message="ICommonService_GetSafetyCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateGHSClassification">
      <wsdl:input wsaw:Action="urn:ICommonService/GenerateGHSClassification" message="ICommonService_GenerateGHSClassification_InputMessage" />
      <wsdl:output wsaw:Action="urn:ICommonService/GenerateGHSClassificationResponse" message="ICommonService_GenerateGHSClassification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertToPdf">
      <wsdl:input wsaw:Action="urn:ICommonService/ConvertToPdf" message="ICommonService_ConvertToPdf_InputMessage" />
      <wsdl:output wsaw:Action="urn:ICommonService/ConvertToPdfResponse" message="ICommonService_ConvertToPdf_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCodes">
      <wsdl:input wsaw:Action="urn:ICommonService/GetAllCodes" message="ICommonService_GetAllCodes_InputMessage" />
      <wsdl:output wsaw:Action="urn:ICommonService/GetAllCodesResponse" message="ICommonService_GetAllCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserSettings">
      <wsdl:input wsaw:Action="urn:ICommonService/GetUserSettings" message="ICommonService_GetUserSettings_InputMessage" />
      <wsdl:output wsaw:Action="urn:ICommonService/GetUserSettingsResponse" message="ICommonService_GetUserSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUserSettings">
      <wsdl:input wsaw:Action="urn:ICommonService/SetUserSettings" message="ICommonService_SetUserSettings_InputMessage" />
      <wsdl:output wsaw:Action="urn:ICommonService/SetUserSettingsResponse" message="ICommonService_SetUserSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVendorGroups">
      <wsdl:input wsaw:Action="urn:ICommonService/GetVendorGroups" message="ICommonService_GetVendorGroups_InputMessage" />
      <wsdl:output wsaw:Action="urn:ICommonService/GetVendorGroupsResponse" message="ICommonService_GetVendorGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDomainLogo">
      <wsdl:input wsaw:Action="urn:ICommonService/SetDomainLogo" message="ICommonService_SetDomainLogo_InputMessage" />
      <wsdl:output wsaw:Action="urn:ICommonService/SetDomainLogoResponse" message="ICommonService_SetDomainLogo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOutbackSettings">
      <wsdl:input wsaw:Action="urn:ICommonService/SetOutbackSettings" message="ICommonService_SetOutbackSettings_InputMessage" />
      <wsdl:output wsaw:Action="urn:ICommonService/SetOutbackSettingsResponse" message="ICommonService_SetOutbackSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOutbackSettings">
      <wsdl:input wsaw:Action="urn:ICommonService/GetOutbackSettings" message="ICommonService_GetOutbackSettings_InputMessage" />
      <wsdl:output wsaw:Action="urn:ICommonService/GetOutbackSettingsResponse" message="ICommonService_GetOutbackSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTranslationTexts">
      <wsdl:input wsaw:Action="urn:ICommonService/GetTranslationTexts" message="ICommonService_GetTranslationTexts_InputMessage" />
      <wsdl:output wsaw:Action="urn:ICommonService/GetTranslationTextsResponse" message="ICommonService_GetTranslationTexts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>