NbtLogic/Service References/ChemCatCentral/Search3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/c3/Search.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ChemSW.WebSvc" />
  <xs:import schemaLocation="http://localhost/c3/Search.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CswC3Params">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImportSetId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CswC3Params" nillable="true" type="tns:CswC3Params" />
  <xs:complexType name="CswRetObjSearchResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authenticated" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ChemSW.WebSvc" minOccurs="0" name="Authentication" nillable="true" type="q1:CswWebSvcSessionAuthenticateData.Authentication.Response" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AvailableDataSources" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="CswC3SearchResults" nillable="true" type="tns:ArrayOfCswC3Product" />
      <xs:element minOccurs="0" name="DataSources" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ChemSW.WebSvc" minOccurs="0" name="Logging" nillable="true" type="q3:CswWebSvcReturnBase.Logging" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ChemSW.WebSvc" minOccurs="0" name="Performance" nillable="true" type="q4:CswWebSvcReturnBase.Performance" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ChemSW.WebSvc" minOccurs="0" name="Status" nillable="true" type="q5:CswWebSvcReturnBase.Status" />
      <xs:element minOccurs="0" name="Users" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CswRetObjSearchResults" nillable="true" type="tns:CswRetObjSearchResults" />
  <xs:complexType name="ArrayOfCswC3Product">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CswC3Product" nillable="true" type="tns:CswC3Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCswC3Product" nillable="true" type="tns:ArrayOfCswC3Product" />
  <xs:complexType name="CswC3Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="CasNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CatalogNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtensionData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Formula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImportSetId" type="xs:int" />
      <xs:element minOccurs="0" name="MolData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MolImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsdsUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Obsolete" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductSize" nillable="true" type="tns:ArrayOfCswC3Product.Size" />
      <xs:element minOccurs="0" name="ProductUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceRowId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Synonyms" nillable="true" type="q6:ArrayOfstring" />
      <xs:element minOccurs="0" name="TemplateSelectedExtensionData" nillable="true" type="tns:ArrayOfCswC3Product.TemplateSlctdExtData" />
      <xs:element minOccurs="0" name="TradeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CswC3Product" nillable="true" type="tns:CswC3Product" />
  <xs:complexType name="ArrayOfCswC3Product.Size">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CswC3Product.Size" nillable="true" type="tns:CswC3Product.Size" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCswC3Product.Size" nillable="true" type="tns:ArrayOfCswC3Product.Size" />
  <xs:complexType name="CswC3Product.Size">
    <xs:sequence>
      <xs:element minOccurs="0" name="case_qty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pkg_qty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pkg_qty_uom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CswC3Product.Size" nillable="true" type="tns:CswC3Product.Size" />
  <xs:complexType name="ArrayOfCswC3Product.TemplateSlctdExtData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CswC3Product.TemplateSlctdExtData" nillable="true" type="tns:CswC3Product.TemplateSlctdExtData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCswC3Product.TemplateSlctdExtData" nillable="true" type="tns:ArrayOfCswC3Product.TemplateSlctdExtData" />
  <xs:complexType name="CswC3Product.TemplateSlctdExtData">
    <xs:sequence>
      <xs:element minOccurs="0" name="attribute" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CswC3Product.TemplateSlctdExtData" nillable="true" type="tns:CswC3Product.TemplateSlctdExtData" />
  <xs:complexType name="CswC3SearchParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Field" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxRows" type="xs:int" />
      <xs:element minOccurs="0" name="Query" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchOperator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchTypes" type="tns:CswC3SearchParams.SearchFieldType" />
      <xs:element minOccurs="0" name="SourceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CswC3SearchParams" nillable="true" type="tns:CswC3SearchParams" />
  <xs:simpleType name="CswC3SearchParams.SearchFieldType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CasNo" />
      <xs:enumeration value="CatalogNo" />
      <xs:enumeration value="Formula" />
      <xs:enumeration value="Name" />
      <xs:enumeration value="TradeName" />
      <xs:enumeration value="SupplierName" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CswC3SearchParams.SearchFieldType" nillable="true" type="tns:CswC3SearchParams.SearchFieldType" />
</xs:schema>