NbtLogic/Service References/ChemCatCentral/Search.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Search" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/c3/Search.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/c3/Search.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/c3WebServii" />
      <xsd:import schemaLocation="http://localhost/c3/Search.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/c3/Search.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" />
      <xsd:import schemaLocation="http://localhost/c3/Search.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ChemSW.WebSvc" />
      <xsd:import schemaLocation="http://localhost/c3/Search.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/c3/Search.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/c3WebServii.Csw.Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Search_isAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:isAlive" />
  </wsdl:message>
  <wsdl:message name="Search_isAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:isAliveResponse" />
  </wsdl:message>
  <wsdl:message name="Search_isAlive_SampleFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/c3WebServii" name="detail" element="q1:SampleFaultException" />
  </wsdl:message>
  <wsdl:message name="Search_getCurrentVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:getCurrentVersion" />
  </wsdl:message>
  <wsdl:message name="Search_getCurrentVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCurrentVersionResponse" />
  </wsdl:message>
  <wsdl:message name="Search_getCurrentVersion_SampleFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/c3WebServii" name="detail" element="q2:SampleFaultException" />
  </wsdl:message>
  <wsdl:message name="Search_getUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsers" />
  </wsdl:message>
  <wsdl:message name="Search_getUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsersResponse" />
  </wsdl:message>
  <wsdl:message name="Search_getUsers_SampleFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/c3WebServii" name="detail" element="q3:SampleFaultException" />
  </wsdl:message>
  <wsdl:message name="Search_editUser_InputMessage">
    <wsdl:part name="parameters" element="tns:editUser" />
  </wsdl:message>
  <wsdl:message name="Search_editUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:editUserResponse" />
  </wsdl:message>
  <wsdl:message name="Search_editUser_SampleFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/c3WebServii" name="detail" element="q4:SampleFaultException" />
  </wsdl:message>
  <wsdl:message name="Search_deleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteUser" />
  </wsdl:message>
  <wsdl:message name="Search_deleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="Search_deleteUser_SampleFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/c3WebServii" name="detail" element="q5:SampleFaultException" />
  </wsdl:message>
  <wsdl:message name="Search_getSearchResultLimit_InputMessage">
    <wsdl:part name="parameters" element="tns:getSearchResultLimit" />
  </wsdl:message>
  <wsdl:message name="Search_getSearchResultLimit_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSearchResultLimitResponse" />
  </wsdl:message>
  <wsdl:message name="Search_getSearchResultLimit_SampleFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/c3WebServii" name="detail" element="q6:SampleFaultException" />
  </wsdl:message>
  <wsdl:message name="Search_setSearchResultLimit_InputMessage">
    <wsdl:part name="parameters" element="tns:setSearchResultLimit" />
  </wsdl:message>
  <wsdl:message name="Search_setSearchResultLimit_OutputMessage">
    <wsdl:part name="parameters" element="tns:setSearchResultLimitResponse" />
  </wsdl:message>
  <wsdl:message name="Search_setSearchResultLimit_SampleFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/c3WebServii" name="detail" element="q7:SampleFaultException" />
  </wsdl:message>
  <wsdl:message name="Search_updateImportStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:updateImportStatus" />
  </wsdl:message>
  <wsdl:message name="Search_updateImportStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateImportStatusResponse" />
  </wsdl:message>
  <wsdl:message name="Search_updateImportStatus_SampleFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/c3WebServii" name="detail" element="q8:SampleFaultException" />
  </wsdl:message>
  <wsdl:message name="Search_getImportSetData_InputMessage">
    <wsdl:part name="parameters" element="tns:getImportSetData" />
  </wsdl:message>
  <wsdl:message name="Search_getImportSetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getImportSetDataResponse" />
  </wsdl:message>
  <wsdl:message name="Search_getImportSetData_SampleFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/c3WebServii" name="detail" element="q9:SampleFaultException" />
  </wsdl:message>
  <wsdl:message name="Search_authenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:authenticateUser" />
  </wsdl:message>
  <wsdl:message name="Search_authenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:authenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="Search_authenticateUser_SampleFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/c3WebServii" name="detail" element="q10:SampleFaultException" />
  </wsdl:message>
  <wsdl:message name="Search_getDataSources_InputMessage">
    <wsdl:part name="parameters" element="tns:getDataSources" />
  </wsdl:message>
  <wsdl:message name="Search_getDataSources_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDataSourcesResponse" />
  </wsdl:message>
  <wsdl:message name="Search_getDataSources_SampleFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/c3WebServii" name="detail" element="q11:SampleFaultException" />
  </wsdl:message>
  <wsdl:message name="Search_getProductDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductDetails" />
  </wsdl:message>
  <wsdl:message name="Search_getProductDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="Search_getProductDetails_SampleFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/c3WebServii" name="detail" element="q12:SampleFaultException" />
  </wsdl:message>
  <wsdl:message name="Search_search_InputMessage">
    <wsdl:part name="parameters" element="tns:search" />
  </wsdl:message>
  <wsdl:message name="Search_search_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchResponse" />
  </wsdl:message>
  <wsdl:message name="Search_search_SampleFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/c3WebServii" name="detail" element="q13:SampleFaultException" />
  </wsdl:message>
  <wsdl:message name="Search_getExtChemData_InputMessage">
    <wsdl:part name="parameters" element="tns:getExtChemData" />
  </wsdl:message>
  <wsdl:message name="Search_getExtChemData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getExtChemDataResponse" />
  </wsdl:message>
  <wsdl:message name="Search_getExtChemData_SampleFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/c3WebServii" name="detail" element="q14:SampleFaultException" />
  </wsdl:message>
  <wsdl:message name="Search_getLastExtChemDataImportDate_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastExtChemDataImportDate" />
  </wsdl:message>
  <wsdl:message name="Search_getLastExtChemDataImportDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastExtChemDataImportDateResponse" />
  </wsdl:message>
  <wsdl:message name="Search_getLastExtChemDataImportDate_SampleFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/c3WebServii" name="detail" element="q15:SampleFaultException" />
  </wsdl:message>
  <wsdl:message name="Search_getLastLOLIImportDate_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastLOLIImportDate" />
  </wsdl:message>
  <wsdl:message name="Search_getLastLOLIImportDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastLOLIImportDateResponse" />
  </wsdl:message>
  <wsdl:message name="Search_getLastLOLIImportDate_SampleFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/c3WebServii" name="detail" element="q16:SampleFaultException" />
  </wsdl:message>
  <wsdl:message name="Search_getListCodesByCasNo_InputMessage">
    <wsdl:part name="parameters" element="tns:getListCodesByCasNo" />
  </wsdl:message>
  <wsdl:message name="Search_getListCodesByCasNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListCodesByCasNoResponse" />
  </wsdl:message>
  <wsdl:message name="Search_getListCodesByCasNo_SampleFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/c3WebServii" name="detail" element="q17:SampleFaultException" />
  </wsdl:message>
  <wsdl:message name="Search_getListCodesByName_InputMessage">
    <wsdl:part name="parameters" element="tns:getListCodesByName" />
  </wsdl:message>
  <wsdl:message name="Search_getListCodesByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListCodesByNameResponse" />
  </wsdl:message>
  <wsdl:message name="Search_getListCodesByName_SampleFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/c3WebServii" name="detail" element="q18:SampleFaultException" />
  </wsdl:message>
  <wsdl:message name="Search_getCasLinkData_InputMessage">
    <wsdl:part name="parameters" element="tns:getCasLinkData" />
  </wsdl:message>
  <wsdl:message name="Search_getCasLinkData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCasLinkDataResponse" />
  </wsdl:message>
  <wsdl:message name="Search_getCasLinkData_SampleFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/c3WebServii" name="detail" element="q19:SampleFaultException" />
  </wsdl:message>
  <wsdl:portType name="Search">
    <wsdl:operation name="isAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/Search/isAlive" message="tns:Search_isAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Search/isAliveResponse" message="tns:Search_isAlive_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Search/isAliveSampleFaultExceptionFault" name="SampleFaultExceptionFault" message="tns:Search_isAlive_SampleFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCurrentVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/Search/getCurrentVersion" message="tns:Search_getCurrentVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Search/getCurrentVersionResponse" message="tns:Search_getCurrentVersion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Search/getCurrentVersionSampleFaultExceptionFault" name="SampleFaultExceptionFault" message="tns:Search_getCurrentVersion_SampleFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/Search/getUsers" message="tns:Search_getUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Search/getUsersResponse" message="tns:Search_getUsers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Search/getUsersSampleFaultExceptionFault" name="SampleFaultExceptionFault" message="tns:Search_getUsers_SampleFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="editUser">
      <wsdl:input wsaw:Action="http://tempuri.org/Search/editUser" message="tns:Search_editUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Search/editUserResponse" message="tns:Search_editUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Search/editUserSampleFaultExceptionFault" name="SampleFaultExceptionFault" message="tns:Search_editUser_SampleFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/Search/deleteUser" message="tns:Search_deleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Search/deleteUserResponse" message="tns:Search_deleteUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Search/deleteUserSampleFaultExceptionFault" name="SampleFaultExceptionFault" message="tns:Search_deleteUser_SampleFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSearchResultLimit">
      <wsdl:input wsaw:Action="http://tempuri.org/Search/getSearchResultLimit" message="tns:Search_getSearchResultLimit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Search/getSearchResultLimitResponse" message="tns:Search_getSearchResultLimit_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Search/getSearchResultLimitSampleFaultExceptionFault" name="SampleFaultExceptionFault" message="tns:Search_getSearchResultLimit_SampleFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="setSearchResultLimit">
      <wsdl:input wsaw:Action="http://tempuri.org/Search/setSearchResultLimit" message="tns:Search_setSearchResultLimit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Search/setSearchResultLimitResponse" message="tns:Search_setSearchResultLimit_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Search/setSearchResultLimitSampleFaultExceptionFault" name="SampleFaultExceptionFault" message="tns:Search_setSearchResultLimit_SampleFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateImportStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/Search/updateImportStatus" message="tns:Search_updateImportStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Search/updateImportStatusResponse" message="tns:Search_updateImportStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Search/updateImportStatusSampleFaultExceptionFault" name="SampleFaultExceptionFault" message="tns:Search_updateImportStatus_SampleFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getImportSetData">
      <wsdl:input wsaw:Action="http://tempuri.org/Search/getImportSetData" message="tns:Search_getImportSetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Search/getImportSetDataResponse" message="tns:Search_getImportSetData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Search/getImportSetDataSampleFaultExceptionFault" name="SampleFaultExceptionFault" message="tns:Search_getImportSetData_SampleFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="authenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/Search/authenticateUser" message="tns:Search_authenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Search/authenticateUserResponse" message="tns:Search_authenticateUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Search/authenticateUserSampleFaultExceptionFault" name="SampleFaultExceptionFault" message="tns:Search_authenticateUser_SampleFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDataSources">
      <wsdl:input wsaw:Action="http://tempuri.org/Search/getDataSources" message="tns:Search_getDataSources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Search/getDataSourcesResponse" message="tns:Search_getDataSources_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Search/getDataSourcesSampleFaultExceptionFault" name="SampleFaultExceptionFault" message="tns:Search_getDataSources_SampleFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/Search/getProductDetails" message="tns:Search_getProductDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Search/getProductDetailsResponse" message="tns:Search_getProductDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Search/getProductDetailsSampleFaultExceptionFault" name="SampleFaultExceptionFault" message="tns:Search_getProductDetails_SampleFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input wsaw:Action="http://tempuri.org/Search/search" message="tns:Search_search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Search/searchResponse" message="tns:Search_search_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Search/searchSampleFaultExceptionFault" name="SampleFaultExceptionFault" message="tns:Search_search_SampleFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getExtChemData">
      <wsdl:input wsaw:Action="http://tempuri.org/Search/getExtChemData" message="tns:Search_getExtChemData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Search/getExtChemDataResponse" message="tns:Search_getExtChemData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Search/getExtChemDataSampleFaultExceptionFault" name="SampleFaultExceptionFault" message="tns:Search_getExtChemData_SampleFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastExtChemDataImportDate">
      <wsdl:input wsaw:Action="http://tempuri.org/Search/getLastExtChemDataImportDate" message="tns:Search_getLastExtChemDataImportDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Search/getLastExtChemDataImportDateResponse" message="tns:Search_getLastExtChemDataImportDate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Search/getLastExtChemDataImportDateSampleFaultExceptionFault" name="SampleFaultExceptionFault" message="tns:Search_getLastExtChemDataImportDate_SampleFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastLOLIImportDate">
      <wsdl:input wsaw:Action="http://tempuri.org/Search/getLastLOLIImportDate" message="tns:Search_getLastLOLIImportDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Search/getLastLOLIImportDateResponse" message="tns:Search_getLastLOLIImportDate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Search/getLastLOLIImportDateSampleFaultExceptionFault" name="SampleFaultExceptionFault" message="tns:Search_getLastLOLIImportDate_SampleFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListCodesByCasNo">
      <wsdl:input wsaw:Action="http://tempuri.org/Search/getListCodesByCasNo" message="tns:Search_getListCodesByCasNo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Search/getListCodesByCasNoResponse" message="tns:Search_getListCodesByCasNo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Search/getListCodesByCasNoSampleFaultExceptionFault" name="SampleFaultExceptionFault" message="tns:Search_getListCodesByCasNo_SampleFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListCodesByName">
      <wsdl:input wsaw:Action="http://tempuri.org/Search/getListCodesByName" message="tns:Search_getListCodesByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Search/getListCodesByNameResponse" message="tns:Search_getListCodesByName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Search/getListCodesByNameSampleFaultExceptionFault" name="SampleFaultExceptionFault" message="tns:Search_getListCodesByName_SampleFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCasLinkData">
      <wsdl:input wsaw:Action="http://tempuri.org/Search/getCasLinkData" message="tns:Search_getCasLinkData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Search/getCasLinkDataResponse" message="tns:Search_getCasLinkData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Search/getCasLinkDataSampleFaultExceptionFault" name="SampleFaultExceptionFault" message="tns:Search_getCasLinkData_SampleFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Search" />
</wsdl:definitions>