NbtLogic/Service References/ChemCatCentral/Search46.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/c3Test/Search.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" />
  <xs:element name="isAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="isAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrentVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrentVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCurrentVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="CswC3Params" nillable="true" type="q1:CswC3Params" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="getUsersResult" nillable="true" type="q2:CswRetObjSearchResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="CswC3Params" nillable="true" type="q3:CswC3Params" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="editUserResult" nillable="true" type="q4:CswRetObjSearchResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="CswC3Params" nillable="true" type="q5:CswC3Params" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="deleteUserResult" nillable="true" type="q6:CswRetObjSearchResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSearchResultLimit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="CswC3Params" nillable="true" type="q7:CswC3Params" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSearchResultLimitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="getSearchResultLimitResult" nillable="true" type="q8:CswRetObjSearchResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSearchResultLimit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="CswC3Params" nillable="true" type="q9:CswC3Params" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSearchResultLimitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="setSearchResultLimitResult" nillable="true" type="q10:CswRetObjSearchResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateImportStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="CswC3Params" nillable="true" type="q11:CswC3Params" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateImportStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="updateImportStatusResult" nillable="true" type="q12:CswRetObjSearchResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getImportSetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="CswC3Params" nillable="true" type="q13:CswC3Params" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getImportSetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="getImportSetDataResult" nillable="true" type="q14:CswRetObjSearchResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="authenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="CswC3Params" nillable="true" type="q15:CswC3Params" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="authenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="authenticateUserResult" nillable="true" type="q16:CswRetObjSearchResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataSources">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="CswC3Params" nillable="true" type="q17:CswC3Params" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataSourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="getDataSourcesResult" nillable="true" type="q18:CswRetObjSearchResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataSourceDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="CswC3Params" nillable="true" type="q19:CswC3Params" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataSourceDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="getDataSourceDatesResult" nillable="true" type="q20:CswRetObjSearchResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="CswC3SearchParams" nillable="true" type="q21:CswC3SearchParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="getProductDetailsResult" nillable="true" type="q22:CswRetObjSearchResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="CswC3SearchParams" nillable="true" type="q23:CswC3SearchParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="searchResult" nillable="true" type="q24:CswRetObjSearchResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExtChemData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="CswC3SearchParams" nillable="true" type="q25:CswC3SearchParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExtChemDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="getExtChemDataResult" nillable="true" type="q26:CswRetObjSearchResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastExtChemDataImportDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="CswC3Params" nillable="true" type="q27:CswC3Params" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastExtChemDataImportDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="getLastExtChemDataImportDateResult" nillable="true" type="q28:CswRetObjSearchResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastLOLIImportDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="CswC3Params" nillable="true" type="q29:CswC3Params" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastLOLIImportDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="getLastLOLIImportDateResult" nillable="true" type="q30:CswRetObjSearchResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListCodesByCasNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="CswC3SearchParams" nillable="true" type="q31:CswC3SearchParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListCodesByCasNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="getListCodesByCasNoResult" nillable="true" type="q32:CswRetObjSearchResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListCodesByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="CswC3SearchParams" nillable="true" type="q33:CswC3SearchParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListCodesByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="getListCodesByNameResult" nillable="true" type="q34:CswRetObjSearchResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCasLinkData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="CswC3SearchParams" nillable="true" type="q35:CswC3SearchParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCasLinkDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/c3WebServii.WebServices" minOccurs="0" name="getCasLinkDataResult" nillable="true" type="q36:CswRetObjSearchResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>