NbtLogic/Service References/ChemCatCentral/Search46.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/c3WebServii.Csw.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/c3WebServii.Csw.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCswC3LoliData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CswC3LoliData" nillable="true" type="tns:CswC3LoliData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCswC3LoliData" nillable="true" type="tns:ArrayOfCswC3LoliData" />
  <xs:complexType name="CswC3LoliData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CasNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CasNo_Linked" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListId" type="xs:int" />
      <xs:element minOccurs="0" name="ListName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CswC3LoliData" nillable="true" type="tns:CswC3LoliData" />
</xs:schema>