NbtLogic/Service References/ChemCatCentral/Search3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/c3WebServii" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/c3WebServii" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SampleFaultException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Errorcode" type="tns:FaultCode" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SampleFaultException" nillable="true" type="tns:SampleFaultException" />
  <xs:simpleType name="FaultCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Error" />
      <xs:enumeration value="IncorrectParameter" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FaultCode" nillable="true" type="tns:FaultCode" />
</xs:schema>