NbtPrintClient/Service References/NbtLabels/Labels25.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Returns" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Returns" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://nbtdaily.chemswlive.com/DevNbt/Services/Labels2.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ChemSW.WebSvc" />
  <xs:complexType name="CswWebSvcReturn">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ChemSW.WebSvc" minOccurs="0" name="Authentication" nillable="true" type="q1:CswWebSvcSessionAuthenticateData.Authentication.Response" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ChemSW.WebSvc" minOccurs="0" name="Logging" nillable="true" type="q2:CswWebSvcReturnBase.Logging" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ChemSW.WebSvc" minOccurs="0" name="Performance" nillable="true" type="q3:CswWebSvcReturnBase.Performance" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ChemSW.WebSvc" minOccurs="0" name="Status" nillable="true" type="q4:CswWebSvcReturnBase.Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CswWebSvcReturn" nillable="true" type="tns:CswWebSvcReturn" />
</xs:schema>