NbtPrintClient/Service References/NbtLabels/Labels2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ChemSW.Nbt.WebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ChemSW.Nbt.WebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://nbtdaily.chemswlive.com/DevNbt/Services/Labels2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Logic.Labels" />
  <xs:import schemaLocation="https://nbtdaily.chemswlive.com/DevNbt/Services/Labels2.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Returns" />
  <xs:complexType name="CswNbtLabelList">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Returns" base="q1:CswWebSvcReturn">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Logic.Labels" minOccurs="0" name="Data" nillable="true" type="q2:NbtPrintLabel.Response.List" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CswNbtLabelList" nillable="true" type="tns:CswNbtLabelList" />
  <xs:complexType name="CswNbtLabelEpl">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Returns" base="q3:CswWebSvcReturn">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Logic.Labels" minOccurs="0" name="Data" nillable="true" type="q4:NbtPrintLabel.Response.Epl" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CswNbtLabelEpl" nillable="true" type="tns:CswNbtLabelEpl" />
</xs:schema>