NbtPrintClient/Service References/NbtLabels/Labels214.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="NbtWebApp" elementFormDefault="qualified" targetNamespace="NbtWebApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/NbtDev/Services/Labels2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Logic.Labels" />
  <xs:import schemaLocation="http://localhost/NbtDev/Services/Labels2.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ChemSW.Nbt.WebServices" />
  <xs:element name="list">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Logic.Labels" minOccurs="0" name="Request" nillable="true" type="q1:NbtPrintLabel.Request.List" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ChemSW.Nbt.WebServices" minOccurs="0" name="listResult" nillable="true" type="q2:CswNbtLabelList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLabel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Logic.Labels" minOccurs="0" name="Request" nillable="true" type="q3:NbtPrintLabel.Request.Get" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLabelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ChemSW.Nbt.WebServices" minOccurs="0" name="getLabelResult" nillable="true" type="q4:CswNbtLabelEpl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerLpc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Logic.Labels" minOccurs="0" name="Request" nillable="true" type="q5:LabelPrinter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerLpcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ChemSW.Nbt.WebServices" minOccurs="0" name="registerLpcResult" nillable="true" type="q6:CswNbtLabelPrinterReg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNextLpcJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Logic.Labels" minOccurs="0" name="Request" nillable="true" type="q7:CswNbtLabelJobRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNextLpcJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Logic.Labels" minOccurs="0" name="getNextLpcJobResult" nillable="true" type="q8:CswNbtLabelJobResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLpcJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Logic.Labels" minOccurs="0" name="Request" nillable="true" type="q9:CswNbtLabelJobUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLpcJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Logic.Labels" minOccurs="0" name="updateLpcJobResult" nillable="true" type="q10:CswNbtLabelJobUpdateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>