NbtPrintClient/Service References/NbtLabels/Labels26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Logic.Labels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Logic.Labels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NbtPrintLabel.Request.List">
    <xs:sequence>
      <xs:element minOccurs="0" name="TargetId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NbtPrintLabel.Request.List" nillable="true" type="tns:NbtPrintLabel.Request.List" />
  <xs:complexType name="NbtPrintLabel.Response.List">
    <xs:sequence>
      <xs:element minOccurs="0" name="Labels" nillable="true" type="tns:ArrayOfLabel" />
      <xs:element minOccurs="0" name="SelectedLabelId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NbtPrintLabel.Response.List" nillable="true" type="tns:NbtPrintLabel.Response.List" />
  <xs:complexType name="ArrayOfLabel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Label" nillable="true" type="tns:Label" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLabel" nillable="true" type="tns:ArrayOfLabel" />
  <xs:complexType name="Label">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Label" nillable="true" type="tns:Label" />
  <xs:complexType name="NbtPrintLabel.Request.Get">
    <xs:sequence>
      <xs:element minOccurs="0" name="LabelId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Params" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NbtPrintLabel.Request.Get" nillable="true" type="tns:NbtPrintLabel.Request.Get" />
  <xs:complexType name="NbtPrintLabel.Response.Epl">
    <xs:sequence>
      <xs:element minOccurs="0" name="Labels" nillable="true" type="tns:ArrayOfPrintLabel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NbtPrintLabel.Response.Epl" nillable="true" type="tns:NbtPrintLabel.Response.Epl" />
  <xs:complexType name="ArrayOfPrintLabel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrintLabel" nillable="true" type="tns:PrintLabel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrintLabel" nillable="true" type="tns:ArrayOfPrintLabel" />
  <xs:complexType name="PrintLabel">
    <xs:sequence>
      <xs:element name="EplText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pictos" nillable="true" type="tns:ArrayOfPrintLabel.Picto" />
      <xs:element minOccurs="0" name="TargetId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrintLabel" nillable="true" type="tns:PrintLabel" />
  <xs:complexType name="ArrayOfPrintLabel.Picto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrintLabel.Picto" nillable="true" type="tns:PrintLabel.Picto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrintLabel.Picto" nillable="true" type="tns:ArrayOfPrintLabel.Picto" />
  <xs:complexType name="PrintLabel.Picto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrintLabel.Picto" nillable="true" type="tns:PrintLabel.Picto" />
</xs:schema>