NbtWebApp/Service References/ChemWatchMaterialServices/soap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://jr.chemwatch.net/CWWS.BP.CISPRO/MaterialService.svc/soap?xsd=xsd0" />
      <xsd:import schemaLocation="http://jr.chemwatch.net/CWWS.BP.CISPRO/MaterialService.svc/soap?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://jr.chemwatch.net/CWWS.BP.CISPRO/MaterialService.svc/soap?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://jr.chemwatch.net/CWWS.BP.CISPRO/MaterialService.svc/soap?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Chemwatch.Entities.Sources.QueryBuilder" />
      <xsd:import schemaLocation="http://jr.chemwatch.net/CWWS.BP.CISPRO/MaterialService.svc/soap?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Chemwatch.Entities.Intray" />
      <xsd:import schemaLocation="http://jr.chemwatch.net/CWWS.BP.CISPRO/MaterialService.svc/soap?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Chemwatch.Entities.Sources.Materials" />
      <xsd:import schemaLocation="http://jr.chemwatch.net/CWWS.BP.CISPRO/MaterialService.svc/soap?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://jr.chemwatch.net/CWWS.BP.CISPRO/MaterialService.svc/soap?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://jr.chemwatch.net/CWWS.BP.CISPRO/MaterialService.svc/soap?xsd=xsd8" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMaterialService_GetPrefferedVendorList_InputMessage">
    <wsdl:part name="parameters" element="GetPrefferedVendorList" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetPrefferedVendorList_OutputMessage">
    <wsdl:part name="parameters" element="GetPrefferedVendorListResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialsByMaterialId_InputMessage">
    <wsdl:part name="parameters" element="GetMaterialsByMaterialId" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialsByMaterialId_OutputMessage">
    <wsdl:part name="parameters" element="GetMaterialsByMaterialIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialsByQuery_InputMessage">
    <wsdl:part name="parameters" element="GetMaterialsByQuery" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialsByQuery_OutputMessage">
    <wsdl:part name="parameters" element="GetMaterialsByQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_QueryBuilderGetSavedQueries_InputMessage">
    <wsdl:part name="parameters" element="QueryBuilderGetSavedQueries" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_QueryBuilderGetSavedQueries_OutputMessage">
    <wsdl:part name="parameters" element="QueryBuilderGetSavedQueriesResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_QueryBuilderGetQueryById_InputMessage">
    <wsdl:part name="parameters" element="QueryBuilderGetQueryById" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_QueryBuilderGetQueryById_OutputMessage">
    <wsdl:part name="parameters" element="QueryBuilderGetQueryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_QueryBuilderSaveEditQuery_InputMessage">
    <wsdl:part name="parameters" element="QueryBuilderSaveEditQuery" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_QueryBuilderSaveEditQuery_OutputMessage">
    <wsdl:part name="parameters" element="QueryBuilderSaveEditQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_QueryBuilderDeleteQuery_InputMessage">
    <wsdl:part name="parameters" element="QueryBuilderDeleteQuery" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_QueryBuilderDeleteQuery_OutputMessage">
    <wsdl:part name="parameters" element="QueryBuilderDeleteQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetIntrayCollections_InputMessage">
    <wsdl:part name="parameters" element="GetIntrayCollections" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetIntrayCollections_OutputMessage">
    <wsdl:part name="parameters" element="GetIntrayCollectionsResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_SaveIntrayCollection_InputMessage">
    <wsdl:part name="parameters" element="SaveIntrayCollection" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_SaveIntrayCollection_OutputMessage">
    <wsdl:part name="parameters" element="SaveIntrayCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeleteIntrayCollection_InputMessage">
    <wsdl:part name="parameters" element="DeleteIntrayCollection" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeleteIntrayCollection_OutputMessage">
    <wsdl:part name="parameters" element="DeleteIntrayCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialsByCollectionId_InputMessage">
    <wsdl:part name="parameters" element="GetMaterialsByCollectionId" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialsByCollectionId_OutputMessage">
    <wsdl:part name="parameters" element="GetMaterialsByCollectionIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_AddMaterialToCollection_InputMessage">
    <wsdl:part name="parameters" element="AddMaterialToCollection" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_AddMaterialToCollection_OutputMessage">
    <wsdl:part name="parameters" element="AddMaterialToCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeleteMaterialFromCollection_InputMessage">
    <wsdl:part name="parameters" element="DeleteMaterialFromCollection" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeleteMaterialFromCollection_OutputMessage">
    <wsdl:part name="parameters" element="DeleteMaterialFromCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_SaveFlagInfo_InputMessage">
    <wsdl:part name="parameters" element="SaveFlagInfo" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_SaveFlagInfo_OutputMessage">
    <wsdl:part name="parameters" element="SaveFlagInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeleteFlagInfo_InputMessage">
    <wsdl:part name="parameters" element="DeleteFlagInfo" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeleteFlagInfo_OutputMessage">
    <wsdl:part name="parameters" element="DeleteFlagInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetFlagInfo_InputMessage">
    <wsdl:part name="parameters" element="GetFlagInfo" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetFlagInfo_OutputMessage">
    <wsdl:part name="parameters" element="GetFlagInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_CopyMaterials_InputMessage">
    <wsdl:part name="parameters" element="CopyMaterials" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_CopyMaterials_OutputMessage">
    <wsdl:part name="parameters" element="CopyMaterialsResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_MoveMaterials_InputMessage">
    <wsdl:part name="parameters" element="MoveMaterials" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_MoveMaterials_OutputMessage">
    <wsdl:part name="parameters" element="MoveMaterialsResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_RemoveMaterials_InputMessage">
    <wsdl:part name="parameters" element="RemoveMaterials" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_RemoveMaterials_OutputMessage">
    <wsdl:part name="parameters" element="RemoveMaterialsResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialsByVendorId_InputMessage">
    <wsdl:part name="parameters" element="GetMaterialsByVendorId" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialsByVendorId_OutputMessage">
    <wsdl:part name="parameters" element="GetMaterialsByVendorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialsByVendorGroupId_InputMessage">
    <wsdl:part name="parameters" element="GetMaterialsByVendorGroupId" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialsByVendorGroupId_OutputMessage">
    <wsdl:part name="parameters" element="GetMaterialsByVendorGroupIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_SearchVendors_InputMessage">
    <wsdl:part name="parameters" element="SearchVendors" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_SearchVendors_OutputMessage">
    <wsdl:part name="parameters" element="SearchVendorsResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialsByFolderId_InputMessage">
    <wsdl:part name="parameters" element="GetMaterialsByFolderId" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialsByFolderId_OutputMessage">
    <wsdl:part name="parameters" element="GetMaterialsByFolderIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetSearchAutoComplete_InputMessage">
    <wsdl:part name="parameters" element="GetSearchAutoComplete" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetSearchAutoComplete_OutputMessage">
    <wsdl:part name="parameters" element="GetSearchAutoCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetSuppliersAutoComplete_InputMessage">
    <wsdl:part name="parameters" element="GetSuppliersAutoComplete" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetSuppliersAutoComplete_OutputMessage">
    <wsdl:part name="parameters" element="GetSuppliersAutoCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetExtendedAutoComplete_InputMessage">
    <wsdl:part name="parameters" element="GetExtendedAutoComplete" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetExtendedAutoComplete_OutputMessage">
    <wsdl:part name="parameters" element="GetExtendedAutoCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetExtendedAutoComplete2_InputMessage">
    <wsdl:part name="parameters" element="GetExtendedAutoComplete2" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetExtendedAutoComplete2_OutputMessage">
    <wsdl:part name="parameters" element="GetExtendedAutoComplete2Response" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetExtendedAutoCompleteNew_InputMessage">
    <wsdl:part name="parameters" element="GetExtendedAutoCompleteNew" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetExtendedAutoCompleteNew_OutputMessage">
    <wsdl:part name="parameters" element="GetExtendedAutoCompleteNewResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetVendorAutoComplete_InputMessage">
    <wsdl:part name="parameters" element="GetVendorAutoComplete" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetVendorAutoComplete_OutputMessage">
    <wsdl:part name="parameters" element="GetVendorAutoCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_SearchMaterials_InputMessage">
    <wsdl:part name="parameters" element="SearchMaterials" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_SearchMaterials_OutputMessage">
    <wsdl:part name="parameters" element="SearchMaterialsResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_SearchCredoSuggestions_InputMessage">
    <wsdl:part name="parameters" element="SearchCredoSuggestions" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_SearchCredoSuggestions_OutputMessage">
    <wsdl:part name="parameters" element="SearchCredoSuggestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetVendorsTree_InputMessage">
    <wsdl:part name="parameters" element="GetVendorsTree" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetVendorsTree_OutputMessage">
    <wsdl:part name="parameters" element="GetVendorsTreeResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetSearchMaterialsParameters_InputMessage">
    <wsdl:part name="parameters" element="GetSearchMaterialsParameters" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetSearchMaterialsParameters_OutputMessage">
    <wsdl:part name="parameters" element="GetSearchMaterialsParametersResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMSDS_InputMessage">
    <wsdl:part name="parameters" element="GetMSDS" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMSDS_OutputMessage">
    <wsdl:part name="parameters" element="GetMSDSResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetLabel_InputMessage">
    <wsdl:part name="parameters" element="GetLabel" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetLabel_OutputMessage">
    <wsdl:part name="parameters" element="GetLabelResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_FillTemplate_InputMessage">
    <wsdl:part name="parameters" element="FillTemplate" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_FillTemplate_OutputMessage">
    <wsdl:part name="parameters" element="FillTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_FillTemplateAsPdf_InputMessage">
    <wsdl:part name="parameters" element="FillTemplateAsPdf" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_FillTemplateAsPdf_OutputMessage">
    <wsdl:part name="parameters" element="FillTemplateAsPdfResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMSDSTemplates_InputMessage">
    <wsdl:part name="parameters" element="GetMSDSTemplates" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMSDSTemplates_OutputMessage">
    <wsdl:part name="parameters" element="GetMSDSTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMSDSTemplateTypes_InputMessage">
    <wsdl:part name="parameters" element="GetMSDSTemplateTypes" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMSDSTemplateTypes_OutputMessage">
    <wsdl:part name="parameters" element="GetMSDSTemplateTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeleteMSDSTemplate_InputMessage">
    <wsdl:part name="parameters" element="DeleteMSDSTemplate" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeleteMSDSTemplate_OutputMessage">
    <wsdl:part name="parameters" element="DeleteMSDSTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UploadMSDSTemplate_InputMessage">
    <wsdl:part name="parameters" element="UploadMSDSTemplate" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UploadMSDSTemplate_OutputMessage">
    <wsdl:part name="parameters" element="UploadMSDSTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UpdateMSDSTemplate_InputMessage">
    <wsdl:part name="parameters" element="UpdateMSDSTemplate" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UpdateMSDSTemplate_OutputMessage">
    <wsdl:part name="parameters" element="UpdateMSDSTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DownloadMSDSTemplate_InputMessage">
    <wsdl:part name="parameters" element="DownloadMSDSTemplate" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DownloadMSDSTemplate_OutputMessage">
    <wsdl:part name="parameters" element="DownloadMSDSTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMSDSTemplate_InputMessage">
    <wsdl:part name="parameters" element="GetMSDSTemplate" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMSDSTemplate_OutputMessage">
    <wsdl:part name="parameters" element="GetMSDSTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_FillLabelGeneratorTemplate_InputMessage">
    <wsdl:part name="parameters" element="FillLabelGeneratorTemplate" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_FillLabelGeneratorTemplate_OutputMessage">
    <wsdl:part name="parameters" element="FillLabelGeneratorTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetFilledLabelGeneratorTemplate_InputMessage">
    <wsdl:part name="parameters" element="GetFilledLabelGeneratorTemplate" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetFilledLabelGeneratorTemplate_OutputMessage">
    <wsdl:part name="parameters" element="GetFilledLabelGeneratorTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetLabelGeneratorStoredTemplateList_InputMessage">
    <wsdl:part name="parameters" element="GetLabelGeneratorStoredTemplateList" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetLabelGeneratorStoredTemplateList_OutputMessage">
    <wsdl:part name="parameters" element="GetLabelGeneratorStoredTemplateListResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeleteLabelGeneratorTemplate_InputMessage">
    <wsdl:part name="parameters" element="DeleteLabelGeneratorTemplate" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeleteLabelGeneratorTemplate_OutputMessage">
    <wsdl:part name="parameters" element="DeleteLabelGeneratorTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetLabelGeneratorTemplate_InputMessage">
    <wsdl:part name="parameters" element="GetLabelGeneratorTemplate" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetLabelGeneratorTemplate_OutputMessage">
    <wsdl:part name="parameters" element="GetLabelGeneratorTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_CheckDoesLabelGeneratorTemplateExist_InputMessage">
    <wsdl:part name="parameters" element="CheckDoesLabelGeneratorTemplateExist" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_CheckDoesLabelGeneratorTemplateExist_OutputMessage">
    <wsdl:part name="parameters" element="CheckDoesLabelGeneratorTemplateExistResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_StoreLabelGeneratorTemplate_InputMessage">
    <wsdl:part name="parameters" element="StoreLabelGeneratorTemplate" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_StoreLabelGeneratorTemplate_OutputMessage">
    <wsdl:part name="parameters" element="StoreLabelGeneratorTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UpdateLabelGeneratorTemplate_InputMessage">
    <wsdl:part name="parameters" element="UpdateLabelGeneratorTemplate" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UpdateLabelGeneratorTemplate_OutputMessage">
    <wsdl:part name="parameters" element="UpdateLabelGeneratorTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetTrackMaterialInfo_InputMessage">
    <wsdl:part name="parameters" element="GetTrackMaterialInfo" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetTrackMaterialInfo_OutputMessage">
    <wsdl:part name="parameters" element="GetTrackMaterialInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetPartialMaterialTrackInfo_InputMessage">
    <wsdl:part name="parameters" element="GetPartialMaterialTrackInfo" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetPartialMaterialTrackInfo_OutputMessage">
    <wsdl:part name="parameters" element="GetPartialMaterialTrackInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_HideUnhideMaterial_InputMessage">
    <wsdl:part name="parameters" element="HideUnhideMaterial" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_HideUnhideMaterial_OutputMessage">
    <wsdl:part name="parameters" element="HideUnhideMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetFieldTypes_InputMessage">
    <wsdl:part name="parameters" element="GetFieldTypes" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetFieldTypes_OutputMessage">
    <wsdl:part name="parameters" element="GetFieldTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetUserMethods_InputMessage">
    <wsdl:part name="parameters" element="GetUserMethods" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetUserMethods_OutputMessage">
    <wsdl:part name="parameters" element="GetUserMethodsResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetUserMethod_InputMessage">
    <wsdl:part name="parameters" element="GetUserMethod" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetUserMethod_OutputMessage">
    <wsdl:part name="parameters" element="GetUserMethodResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeleteUserMethod_InputMessage">
    <wsdl:part name="parameters" element="DeleteUserMethod" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeleteUserMethod_OutputMessage">
    <wsdl:part name="parameters" element="DeleteUserMethodResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_CreateUserMethod_InputMessage">
    <wsdl:part name="parameters" element="CreateUserMethod" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_CreateUserMethod_OutputMessage">
    <wsdl:part name="parameters" element="CreateUserMethodResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UpdateUserMethod_InputMessage">
    <wsdl:part name="parameters" element="UpdateUserMethod" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UpdateUserMethod_OutputMessage">
    <wsdl:part name="parameters" element="UpdateUserMethodResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_AddMsdsVendor_InputMessage">
    <wsdl:part name="parameters" element="AddMsdsVendor" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_AddMsdsVendor_OutputMessage">
    <wsdl:part name="parameters" element="AddMsdsVendorResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetDataByFileType_InputMessage">
    <wsdl:part name="parameters" element="GetDataByFileType" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetDataByFileType_OutputMessage">
    <wsdl:part name="parameters" element="GetDataByFileTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetData_InputMessage">
    <wsdl:part name="parameters" element="GetData" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetDataByCas_InputMessage">
    <wsdl:part name="parameters" element="GetDataByCas" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetDataByCas_OutputMessage">
    <wsdl:part name="parameters" element="GetDataByCasResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ValidateMethodName_InputMessage">
    <wsdl:part name="parameters" element="ValidateMethodName" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ValidateMethodName_OutputMessage">
    <wsdl:part name="parameters" element="ValidateMethodNameResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialFilterList_InputMessage">
    <wsdl:part name="parameters" element="GetMaterialFilterList" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialFilterList_OutputMessage">
    <wsdl:part name="parameters" element="GetMaterialFilterListResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialVSDSFilterList_InputMessage">
    <wsdl:part name="parameters" element="GetMaterialVSDSFilterList" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialVSDSFilterList_OutputMessage">
    <wsdl:part name="parameters" element="GetMaterialVSDSFilterListResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialsSummaryList_InputMessage">
    <wsdl:part name="parameters" element="GetMaterialsSummaryList" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialsSummaryList_OutputMessage">
    <wsdl:part name="parameters" element="GetMaterialsSummaryListResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetVendorsSummaryList_InputMessage">
    <wsdl:part name="parameters" element="GetVendorsSummaryList" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetVendorsSummaryList_OutputMessage">
    <wsdl:part name="parameters" element="GetVendorsSummaryListResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetCWDocumentId_InputMessage">
    <wsdl:part name="parameters" element="GetCWDocumentId" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetCWDocumentId_OutputMessage">
    <wsdl:part name="parameters" element="GetCWDocumentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetDataVersions_InputMessage">
    <wsdl:part name="parameters" element="GetDataVersions" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetDataVersions_OutputMessage">
    <wsdl:part name="parameters" element="GetDataVersionsResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_CreateDataVersion_InputMessage">
    <wsdl:part name="parameters" element="CreateDataVersion" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_CreateDataVersion_OutputMessage">
    <wsdl:part name="parameters" element="CreateDataVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UpdateDataVersion_InputMessage">
    <wsdl:part name="parameters" element="UpdateDataVersion" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UpdateDataVersion_OutputMessage">
    <wsdl:part name="parameters" element="UpdateDataVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetAllMaterials_InputMessage">
    <wsdl:part name="parameters" element="GetAllMaterials" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetAllMaterials_OutputMessage">
    <wsdl:part name="parameters" element="GetAllMaterialsResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialNote_InputMessage">
    <wsdl:part name="parameters" element="GetMaterialNote" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialNote_OutputMessage">
    <wsdl:part name="parameters" element="GetMaterialNoteResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_AddUpdateMaterialNote_InputMessage">
    <wsdl:part name="parameters" element="AddUpdateMaterialNote" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_AddUpdateMaterialNote_OutputMessage">
    <wsdl:part name="parameters" element="AddUpdateMaterialNoteResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_CheckPrivacyGold_InputMessage">
    <wsdl:part name="parameters" element="CheckPrivacyGold" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_CheckPrivacyGold_OutputMessage">
    <wsdl:part name="parameters" element="CheckPrivacyGoldResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetPartNumbers_InputMessage">
    <wsdl:part name="parameters" element="GetPartNumbers" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetPartNumbers_OutputMessage">
    <wsdl:part name="parameters" element="GetPartNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetPartNumbersByPerfName_InputMessage">
    <wsdl:part name="parameters" element="GetPartNumbersByPerfName" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetPartNumbersByPerfName_OutputMessage">
    <wsdl:part name="parameters" element="GetPartNumbersByPerfNameResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_AddPartNumber_InputMessage">
    <wsdl:part name="parameters" element="AddPartNumber" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_AddPartNumber_OutputMessage">
    <wsdl:part name="parameters" element="AddPartNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UpdatePartNumber_InputMessage">
    <wsdl:part name="parameters" element="UpdatePartNumber" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UpdatePartNumber_OutputMessage">
    <wsdl:part name="parameters" element="UpdatePartNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_RemovePartNumber_InputMessage">
    <wsdl:part name="parameters" element="RemovePartNumber" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_RemovePartNumber_OutputMessage">
    <wsdl:part name="parameters" element="RemovePartNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetPreferredNames_InputMessage">
    <wsdl:part name="parameters" element="GetPreferredNames" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetPreferredNames_OutputMessage">
    <wsdl:part name="parameters" element="GetPreferredNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetPreferredNamesByPartNumber_InputMessage">
    <wsdl:part name="parameters" element="GetPreferredNamesByPartNumber" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetPreferredNamesByPartNumber_OutputMessage">
    <wsdl:part name="parameters" element="GetPreferredNamesByPartNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_AddPreferredName_InputMessage">
    <wsdl:part name="parameters" element="AddPreferredName" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_AddPreferredName_OutputMessage">
    <wsdl:part name="parameters" element="AddPreferredNameResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UpdatePreferredName_InputMessage">
    <wsdl:part name="parameters" element="UpdatePreferredName" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UpdatePreferredName_OutputMessage">
    <wsdl:part name="parameters" element="UpdatePreferredNameResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_RemovePreferredName_InputMessage">
    <wsdl:part name="parameters" element="RemovePreferredName" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_RemovePreferredName_OutputMessage">
    <wsdl:part name="parameters" element="RemovePreferredNameResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UpdatePartNumberPreferredNamesReference_InputMessage">
    <wsdl:part name="parameters" element="UpdatePartNumberPreferredNamesReference" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UpdatePartNumberPreferredNamesReference_OutputMessage">
    <wsdl:part name="parameters" element="UpdatePartNumberPreferredNamesReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UpdatePreferredNamePartNumbersReference_InputMessage">
    <wsdl:part name="parameters" element="UpdatePreferredNamePartNumbersReference" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UpdatePreferredNamePartNumbersReference_OutputMessage">
    <wsdl:part name="parameters" element="UpdatePreferredNamePartNumbersReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_RemovePartNumberPreferredNameReference_InputMessage">
    <wsdl:part name="parameters" element="RemovePartNumberPreferredNameReference" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_RemovePartNumberPreferredNameReference_OutputMessage">
    <wsdl:part name="parameters" element="RemovePartNumberPreferredNameReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetGeneralPrefSupplier_InputMessage">
    <wsdl:part name="parameters" element="GetGeneralPrefSupplier" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetGeneralPrefSupplier_OutputMessage">
    <wsdl:part name="parameters" element="GetGeneralPrefSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_SetGeneralPrefSupplier_InputMessage">
    <wsdl:part name="parameters" element="SetGeneralPrefSupplier" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_SetGeneralPrefSupplier_OutputMessage">
    <wsdl:part name="parameters" element="SetGeneralPrefSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialPrefSuppliers_InputMessage">
    <wsdl:part name="parameters" element="GetMaterialPrefSuppliers" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterialPrefSuppliers_OutputMessage">
    <wsdl:part name="parameters" element="GetMaterialPrefSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_AddMaterialPrefSuppliers_InputMessage">
    <wsdl:part name="parameters" element="AddMaterialPrefSuppliers" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_AddMaterialPrefSuppliers_OutputMessage">
    <wsdl:part name="parameters" element="AddMaterialPrefSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetSupplierNameAutocomplete_InputMessage">
    <wsdl:part name="parameters" element="GetSupplierNameAutocomplete" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetSupplierNameAutocomplete_OutputMessage">
    <wsdl:part name="parameters" element="GetSupplierNameAutocompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_AddEditUserVendor_InputMessage">
    <wsdl:part name="parameters" element="AddEditUserVendor" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_AddEditUserVendor_OutputMessage">
    <wsdl:part name="parameters" element="AddEditUserVendorResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_AddEditPrefSupplier_InputMessage">
    <wsdl:part name="parameters" element="AddEditPrefSupplier" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_AddEditPrefSupplier_OutputMessage">
    <wsdl:part name="parameters" element="AddEditPrefSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeleteUserDefinedVendor_InputMessage">
    <wsdl:part name="parameters" element="DeleteUserDefinedVendor" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeleteUserDefinedVendor_OutputMessage">
    <wsdl:part name="parameters" element="DeleteUserDefinedVendorResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeletePrefSupplier_InputMessage">
    <wsdl:part name="parameters" element="DeletePrefSupplier" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeletePrefSupplier_OutputMessage">
    <wsdl:part name="parameters" element="DeletePrefSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetVendorByNid_InputMessage">
    <wsdl:part name="parameters" element="GetVendorByNid" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetVendorByNid_OutputMessage">
    <wsdl:part name="parameters" element="GetVendorByNidResponse" />
  </wsdl:message>
  <wsdl:portType name="IMaterialService">
    <wsdl:operation name="GetPrefferedVendorList">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetPrefferedVendorList" message="IMaterialService_GetPrefferedVendorList_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetPrefferedVendorListResponse" message="IMaterialService_GetPrefferedVendorList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialsByMaterialId">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetMaterialsByMaterialId" message="IMaterialService_GetMaterialsByMaterialId_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetMaterialsByMaterialIdResponse" message="IMaterialService_GetMaterialsByMaterialId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialsByQuery">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetMaterialsByQuery" message="IMaterialService_GetMaterialsByQuery_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetMaterialsByQueryResponse" message="IMaterialService_GetMaterialsByQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryBuilderGetSavedQueries">
      <wsdl:input wsaw:Action="urn:IMaterialService/QueryBuilderGetSavedQueries" message="IMaterialService_QueryBuilderGetSavedQueries_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/QueryBuilderGetSavedQueriesResponse" message="IMaterialService_QueryBuilderGetSavedQueries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryBuilderGetQueryById">
      <wsdl:input wsaw:Action="urn:IMaterialService/QueryBuilderGetQueryById" message="IMaterialService_QueryBuilderGetQueryById_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/QueryBuilderGetQueryByIdResponse" message="IMaterialService_QueryBuilderGetQueryById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryBuilderSaveEditQuery">
      <wsdl:input wsaw:Action="urn:IMaterialService/QueryBuilderSaveEditQuery" message="IMaterialService_QueryBuilderSaveEditQuery_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/QueryBuilderSaveEditQueryResponse" message="IMaterialService_QueryBuilderSaveEditQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryBuilderDeleteQuery">
      <wsdl:input wsaw:Action="urn:IMaterialService/QueryBuilderDeleteQuery" message="IMaterialService_QueryBuilderDeleteQuery_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/QueryBuilderDeleteQueryResponse" message="IMaterialService_QueryBuilderDeleteQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIntrayCollections">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetIntrayCollections" message="IMaterialService_GetIntrayCollections_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetIntrayCollectionsResponse" message="IMaterialService_GetIntrayCollections_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveIntrayCollection">
      <wsdl:input wsaw:Action="urn:IMaterialService/SaveIntrayCollection" message="IMaterialService_SaveIntrayCollection_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/SaveIntrayCollectionResponse" message="IMaterialService_SaveIntrayCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteIntrayCollection">
      <wsdl:input wsaw:Action="urn:IMaterialService/DeleteIntrayCollection" message="IMaterialService_DeleteIntrayCollection_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/DeleteIntrayCollectionResponse" message="IMaterialService_DeleteIntrayCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialsByCollectionId">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetMaterialsByCollectionId" message="IMaterialService_GetMaterialsByCollectionId_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetMaterialsByCollectionIdResponse" message="IMaterialService_GetMaterialsByCollectionId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMaterialToCollection">
      <wsdl:input wsaw:Action="urn:IMaterialService/AddMaterialToCollection" message="IMaterialService_AddMaterialToCollection_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/AddMaterialToCollectionResponse" message="IMaterialService_AddMaterialToCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMaterialFromCollection">
      <wsdl:input wsaw:Action="urn:IMaterialService/DeleteMaterialFromCollection" message="IMaterialService_DeleteMaterialFromCollection_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/DeleteMaterialFromCollectionResponse" message="IMaterialService_DeleteMaterialFromCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveFlagInfo">
      <wsdl:input wsaw:Action="urn:IMaterialService/SaveFlagInfo" message="IMaterialService_SaveFlagInfo_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/SaveFlagInfoResponse" message="IMaterialService_SaveFlagInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFlagInfo">
      <wsdl:input wsaw:Action="urn:IMaterialService/DeleteFlagInfo" message="IMaterialService_DeleteFlagInfo_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/DeleteFlagInfoResponse" message="IMaterialService_DeleteFlagInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlagInfo">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetFlagInfo" message="IMaterialService_GetFlagInfo_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetFlagInfoResponse" message="IMaterialService_GetFlagInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CopyMaterials">
      <wsdl:input wsaw:Action="urn:IMaterialService/CopyMaterials" message="IMaterialService_CopyMaterials_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/CopyMaterialsResponse" message="IMaterialService_CopyMaterials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveMaterials">
      <wsdl:input wsaw:Action="urn:IMaterialService/MoveMaterials" message="IMaterialService_MoveMaterials_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/MoveMaterialsResponse" message="IMaterialService_MoveMaterials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMaterials">
      <wsdl:input wsaw:Action="urn:IMaterialService/RemoveMaterials" message="IMaterialService_RemoveMaterials_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/RemoveMaterialsResponse" message="IMaterialService_RemoveMaterials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialsByVendorId">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetMaterialsByVendorId" message="IMaterialService_GetMaterialsByVendorId_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetMaterialsByVendorIdResponse" message="IMaterialService_GetMaterialsByVendorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialsByVendorGroupId">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetMaterialsByVendorGroupId" message="IMaterialService_GetMaterialsByVendorGroupId_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetMaterialsByVendorGroupIdResponse" message="IMaterialService_GetMaterialsByVendorGroupId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchVendors">
      <wsdl:input wsaw:Action="urn:IMaterialService/SearchVendors" message="IMaterialService_SearchVendors_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/SearchVendorsResponse" message="IMaterialService_SearchVendors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialsByFolderId">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetMaterialsByFolderId" message="IMaterialService_GetMaterialsByFolderId_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetMaterialsByFolderIdResponse" message="IMaterialService_GetMaterialsByFolderId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSearchAutoComplete">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetSearchAutoComplete" message="IMaterialService_GetSearchAutoComplete_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetSearchAutoCompleteResponse" message="IMaterialService_GetSearchAutoComplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSuppliersAutoComplete">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetSuppliersAutoComplete" message="IMaterialService_GetSuppliersAutoComplete_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetSuppliersAutoCompleteResponse" message="IMaterialService_GetSuppliersAutoComplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExtendedAutoComplete">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetExtendedAutoComplete" message="IMaterialService_GetExtendedAutoComplete_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetExtendedAutoCompleteResponse" message="IMaterialService_GetExtendedAutoComplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExtendedAutoComplete2">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetExtendedAutoComplete2" message="IMaterialService_GetExtendedAutoComplete2_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetExtendedAutoComplete2Response" message="IMaterialService_GetExtendedAutoComplete2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExtendedAutoCompleteNew">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetExtendedAutoCompleteNew" message="IMaterialService_GetExtendedAutoCompleteNew_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetExtendedAutoCompleteNewResponse" message="IMaterialService_GetExtendedAutoCompleteNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVendorAutoComplete">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetVendorAutoComplete" message="IMaterialService_GetVendorAutoComplete_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetVendorAutoCompleteResponse" message="IMaterialService_GetVendorAutoComplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchMaterials">
      <wsdl:input wsaw:Action="urn:IMaterialService/SearchMaterials" message="IMaterialService_SearchMaterials_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/SearchMaterialsResponse" message="IMaterialService_SearchMaterials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCredoSuggestions">
      <wsdl:input wsaw:Action="urn:IMaterialService/SearchCredoSuggestions" message="IMaterialService_SearchCredoSuggestions_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/SearchCredoSuggestionsResponse" message="IMaterialService_SearchCredoSuggestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVendorsTree">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetVendorsTree" message="IMaterialService_GetVendorsTree_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetVendorsTreeResponse" message="IMaterialService_GetVendorsTree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSearchMaterialsParameters">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetSearchMaterialsParameters" message="IMaterialService_GetSearchMaterialsParameters_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetSearchMaterialsParametersResponse" message="IMaterialService_GetSearchMaterialsParameters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMSDS">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetMSDS" message="IMaterialService_GetMSDS_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetMSDSResponse" message="IMaterialService_GetMSDS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLabel">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetLabel" message="IMaterialService_GetLabel_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetLabelResponse" message="IMaterialService_GetLabel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillTemplate">
      <wsdl:input wsaw:Action="urn:IMaterialService/FillTemplate" message="IMaterialService_FillTemplate_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/FillTemplateResponse" message="IMaterialService_FillTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillTemplateAsPdf">
      <wsdl:input wsaw:Action="urn:IMaterialService/FillTemplateAsPdf" message="IMaterialService_FillTemplateAsPdf_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/FillTemplateAsPdfResponse" message="IMaterialService_FillTemplateAsPdf_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMSDSTemplates">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetMSDSTemplates" message="IMaterialService_GetMSDSTemplates_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetMSDSTemplatesResponse" message="IMaterialService_GetMSDSTemplates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMSDSTemplateTypes">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetMSDSTemplateTypes" message="IMaterialService_GetMSDSTemplateTypes_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetMSDSTemplateTypesResponse" message="IMaterialService_GetMSDSTemplateTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMSDSTemplate">
      <wsdl:input wsaw:Action="urn:IMaterialService/DeleteMSDSTemplate" message="IMaterialService_DeleteMSDSTemplate_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/DeleteMSDSTemplateResponse" message="IMaterialService_DeleteMSDSTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadMSDSTemplate">
      <wsdl:input wsaw:Action="urn:IMaterialService/UploadMSDSTemplate" message="IMaterialService_UploadMSDSTemplate_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/UploadMSDSTemplateResponse" message="IMaterialService_UploadMSDSTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMSDSTemplate">
      <wsdl:input wsaw:Action="urn:IMaterialService/UpdateMSDSTemplate" message="IMaterialService_UpdateMSDSTemplate_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/UpdateMSDSTemplateResponse" message="IMaterialService_UpdateMSDSTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadMSDSTemplate">
      <wsdl:input wsaw:Action="urn:IMaterialService/DownloadMSDSTemplate" message="IMaterialService_DownloadMSDSTemplate_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/DownloadMSDSTemplateResponse" message="IMaterialService_DownloadMSDSTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMSDSTemplate">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetMSDSTemplate" message="IMaterialService_GetMSDSTemplate_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetMSDSTemplateResponse" message="IMaterialService_GetMSDSTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillLabelGeneratorTemplate">
      <wsdl:input wsaw:Action="urn:IMaterialService/FillLabelGeneratorTemplate" message="IMaterialService_FillLabelGeneratorTemplate_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/FillLabelGeneratorTemplateResponse" message="IMaterialService_FillLabelGeneratorTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilledLabelGeneratorTemplate">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetFilledLabelGeneratorTemplate" message="IMaterialService_GetFilledLabelGeneratorTemplate_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetFilledLabelGeneratorTemplateResponse" message="IMaterialService_GetFilledLabelGeneratorTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLabelGeneratorStoredTemplateList">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetLabelGeneratorStoredTemplateList" message="IMaterialService_GetLabelGeneratorStoredTemplateList_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetLabelGeneratorStoredTemplateListResponse" message="IMaterialService_GetLabelGeneratorStoredTemplateList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLabelGeneratorTemplate">
      <wsdl:input wsaw:Action="urn:IMaterialService/DeleteLabelGeneratorTemplate" message="IMaterialService_DeleteLabelGeneratorTemplate_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/DeleteLabelGeneratorTemplateResponse" message="IMaterialService_DeleteLabelGeneratorTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLabelGeneratorTemplate">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetLabelGeneratorTemplate" message="IMaterialService_GetLabelGeneratorTemplate_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetLabelGeneratorTemplateResponse" message="IMaterialService_GetLabelGeneratorTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckDoesLabelGeneratorTemplateExist">
      <wsdl:input wsaw:Action="urn:IMaterialService/CheckDoesLabelGeneratorTemplateExist" message="IMaterialService_CheckDoesLabelGeneratorTemplateExist_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/CheckDoesLabelGeneratorTemplateExistResponse" message="IMaterialService_CheckDoesLabelGeneratorTemplateExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreLabelGeneratorTemplate">
      <wsdl:input wsaw:Action="urn:IMaterialService/StoreLabelGeneratorTemplate" message="IMaterialService_StoreLabelGeneratorTemplate_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/StoreLabelGeneratorTemplateResponse" message="IMaterialService_StoreLabelGeneratorTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLabelGeneratorTemplate">
      <wsdl:input wsaw:Action="urn:IMaterialService/UpdateLabelGeneratorTemplate" message="IMaterialService_UpdateLabelGeneratorTemplate_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/UpdateLabelGeneratorTemplateResponse" message="IMaterialService_UpdateLabelGeneratorTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrackMaterialInfo">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetTrackMaterialInfo" message="IMaterialService_GetTrackMaterialInfo_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetTrackMaterialInfoResponse" message="IMaterialService_GetTrackMaterialInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartialMaterialTrackInfo">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetPartialMaterialTrackInfo" message="IMaterialService_GetPartialMaterialTrackInfo_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetPartialMaterialTrackInfoResponse" message="IMaterialService_GetPartialMaterialTrackInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HideUnhideMaterial">
      <wsdl:input wsaw:Action="urn:IMaterialService/HideUnhideMaterial" message="IMaterialService_HideUnhideMaterial_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/HideUnhideMaterialResponse" message="IMaterialService_HideUnhideMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFieldTypes">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetFieldTypes" message="IMaterialService_GetFieldTypes_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetFieldTypesResponse" message="IMaterialService_GetFieldTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserMethods">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetUserMethods" message="IMaterialService_GetUserMethods_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetUserMethodsResponse" message="IMaterialService_GetUserMethods_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserMethod">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetUserMethod" message="IMaterialService_GetUserMethod_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetUserMethodResponse" message="IMaterialService_GetUserMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserMethod">
      <wsdl:input wsaw:Action="urn:IMaterialService/DeleteUserMethod" message="IMaterialService_DeleteUserMethod_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/DeleteUserMethodResponse" message="IMaterialService_DeleteUserMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUserMethod">
      <wsdl:input wsaw:Action="urn:IMaterialService/CreateUserMethod" message="IMaterialService_CreateUserMethod_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/CreateUserMethodResponse" message="IMaterialService_CreateUserMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserMethod">
      <wsdl:input wsaw:Action="urn:IMaterialService/UpdateUserMethod" message="IMaterialService_UpdateUserMethod_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/UpdateUserMethodResponse" message="IMaterialService_UpdateUserMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMsdsVendor">
      <wsdl:input wsaw:Action="urn:IMaterialService/AddMsdsVendor" message="IMaterialService_AddMsdsVendor_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/AddMsdsVendorResponse" message="IMaterialService_AddMsdsVendor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByFileType">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetDataByFileType" message="IMaterialService_GetDataByFileType_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetDataByFileTypeResponse" message="IMaterialService_GetDataByFileType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetData" message="IMaterialService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetDataResponse" message="IMaterialService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByCas">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetDataByCas" message="IMaterialService_GetDataByCas_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetDataByCasResponse" message="IMaterialService_GetDataByCas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateMethodName">
      <wsdl:input wsaw:Action="urn:IMaterialService/ValidateMethodName" message="IMaterialService_ValidateMethodName_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/ValidateMethodNameResponse" message="IMaterialService_ValidateMethodName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialFilterList">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetMaterialFilterList" message="IMaterialService_GetMaterialFilterList_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetMaterialFilterListResponse" message="IMaterialService_GetMaterialFilterList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialVSDSFilterList">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetMaterialVSDSFilterList" message="IMaterialService_GetMaterialVSDSFilterList_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetMaterialVSDSFilterListResponse" message="IMaterialService_GetMaterialVSDSFilterList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialsSummaryList">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetMaterialsSummaryList" message="IMaterialService_GetMaterialsSummaryList_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetMaterialsSummaryListResponse" message="IMaterialService_GetMaterialsSummaryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVendorsSummaryList">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetVendorsSummaryList" message="IMaterialService_GetVendorsSummaryList_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetVendorsSummaryListResponse" message="IMaterialService_GetVendorsSummaryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCWDocumentId">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetCWDocumentId" message="IMaterialService_GetCWDocumentId_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetCWDocumentIdResponse" message="IMaterialService_GetCWDocumentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataVersions">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetDataVersions" message="IMaterialService_GetDataVersions_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetDataVersionsResponse" message="IMaterialService_GetDataVersions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDataVersion">
      <wsdl:input wsaw:Action="urn:IMaterialService/CreateDataVersion" message="IMaterialService_CreateDataVersion_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/CreateDataVersionResponse" message="IMaterialService_CreateDataVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDataVersion">
      <wsdl:input wsaw:Action="urn:IMaterialService/UpdateDataVersion" message="IMaterialService_UpdateDataVersion_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/UpdateDataVersionResponse" message="IMaterialService_UpdateDataVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMaterials">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetAllMaterials" message="IMaterialService_GetAllMaterials_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetAllMaterialsResponse" message="IMaterialService_GetAllMaterials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialNote">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetMaterialNote" message="IMaterialService_GetMaterialNote_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetMaterialNoteResponse" message="IMaterialService_GetMaterialNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUpdateMaterialNote">
      <wsdl:input wsaw:Action="urn:IMaterialService/AddUpdateMaterialNote" message="IMaterialService_AddUpdateMaterialNote_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/AddUpdateMaterialNoteResponse" message="IMaterialService_AddUpdateMaterialNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPrivacyGold">
      <wsdl:input wsaw:Action="urn:IMaterialService/CheckPrivacyGold" message="IMaterialService_CheckPrivacyGold_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/CheckPrivacyGoldResponse" message="IMaterialService_CheckPrivacyGold_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartNumbers">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetPartNumbers" message="IMaterialService_GetPartNumbers_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetPartNumbersResponse" message="IMaterialService_GetPartNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartNumbersByPerfName">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetPartNumbersByPerfName" message="IMaterialService_GetPartNumbersByPerfName_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetPartNumbersByPerfNameResponse" message="IMaterialService_GetPartNumbersByPerfName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPartNumber">
      <wsdl:input wsaw:Action="urn:IMaterialService/AddPartNumber" message="IMaterialService_AddPartNumber_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/AddPartNumberResponse" message="IMaterialService_AddPartNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePartNumber">
      <wsdl:input wsaw:Action="urn:IMaterialService/UpdatePartNumber" message="IMaterialService_UpdatePartNumber_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/UpdatePartNumberResponse" message="IMaterialService_UpdatePartNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePartNumber">
      <wsdl:input wsaw:Action="urn:IMaterialService/RemovePartNumber" message="IMaterialService_RemovePartNumber_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/RemovePartNumberResponse" message="IMaterialService_RemovePartNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPreferredNames">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetPreferredNames" message="IMaterialService_GetPreferredNames_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetPreferredNamesResponse" message="IMaterialService_GetPreferredNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPreferredNamesByPartNumber">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetPreferredNamesByPartNumber" message="IMaterialService_GetPreferredNamesByPartNumber_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetPreferredNamesByPartNumberResponse" message="IMaterialService_GetPreferredNamesByPartNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPreferredName">
      <wsdl:input wsaw:Action="urn:IMaterialService/AddPreferredName" message="IMaterialService_AddPreferredName_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/AddPreferredNameResponse" message="IMaterialService_AddPreferredName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePreferredName">
      <wsdl:input wsaw:Action="urn:IMaterialService/UpdatePreferredName" message="IMaterialService_UpdatePreferredName_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/UpdatePreferredNameResponse" message="IMaterialService_UpdatePreferredName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePreferredName">
      <wsdl:input wsaw:Action="urn:IMaterialService/RemovePreferredName" message="IMaterialService_RemovePreferredName_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/RemovePreferredNameResponse" message="IMaterialService_RemovePreferredName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePartNumberPreferredNamesReference">
      <wsdl:input wsaw:Action="urn:IMaterialService/UpdatePartNumberPreferredNamesReference" message="IMaterialService_UpdatePartNumberPreferredNamesReference_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/UpdatePartNumberPreferredNamesReferenceResponse" message="IMaterialService_UpdatePartNumberPreferredNamesReference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePreferredNamePartNumbersReference">
      <wsdl:input wsaw:Action="urn:IMaterialService/UpdatePreferredNamePartNumbersReference" message="IMaterialService_UpdatePreferredNamePartNumbersReference_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/UpdatePreferredNamePartNumbersReferenceResponse" message="IMaterialService_UpdatePreferredNamePartNumbersReference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePartNumberPreferredNameReference">
      <wsdl:input wsaw:Action="urn:IMaterialService/RemovePartNumberPreferredNameReference" message="IMaterialService_RemovePartNumberPreferredNameReference_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/RemovePartNumberPreferredNameReferenceResponse" message="IMaterialService_RemovePartNumberPreferredNameReference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGeneralPrefSupplier">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetGeneralPrefSupplier" message="IMaterialService_GetGeneralPrefSupplier_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetGeneralPrefSupplierResponse" message="IMaterialService_GetGeneralPrefSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetGeneralPrefSupplier">
      <wsdl:input wsaw:Action="urn:IMaterialService/SetGeneralPrefSupplier" message="IMaterialService_SetGeneralPrefSupplier_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/SetGeneralPrefSupplierResponse" message="IMaterialService_SetGeneralPrefSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialPrefSuppliers">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetMaterialPrefSuppliers" message="IMaterialService_GetMaterialPrefSuppliers_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetMaterialPrefSuppliersResponse" message="IMaterialService_GetMaterialPrefSuppliers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMaterialPrefSuppliers">
      <wsdl:input wsaw:Action="urn:IMaterialService/AddMaterialPrefSuppliers" message="IMaterialService_AddMaterialPrefSuppliers_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/AddMaterialPrefSuppliersResponse" message="IMaterialService_AddMaterialPrefSuppliers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupplierNameAutocomplete">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetSupplierNameAutocomplete" message="IMaterialService_GetSupplierNameAutocomplete_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetSupplierNameAutocompleteResponse" message="IMaterialService_GetSupplierNameAutocomplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEditUserVendor">
      <wsdl:input wsaw:Action="urn:IMaterialService/AddEditUserVendor" message="IMaterialService_AddEditUserVendor_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/AddEditUserVendorResponse" message="IMaterialService_AddEditUserVendor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEditPrefSupplier">
      <wsdl:input wsaw:Action="urn:IMaterialService/AddEditPrefSupplier" message="IMaterialService_AddEditPrefSupplier_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/AddEditPrefSupplierResponse" message="IMaterialService_AddEditPrefSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserDefinedVendor">
      <wsdl:input wsaw:Action="urn:IMaterialService/DeleteUserDefinedVendor" message="IMaterialService_DeleteUserDefinedVendor_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/DeleteUserDefinedVendorResponse" message="IMaterialService_DeleteUserDefinedVendor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePrefSupplier">
      <wsdl:input wsaw:Action="urn:IMaterialService/DeletePrefSupplier" message="IMaterialService_DeletePrefSupplier_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/DeletePrefSupplierResponse" message="IMaterialService_DeletePrefSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVendorByNid">
      <wsdl:input wsaw:Action="urn:IMaterialService/GetVendorByNid" message="IMaterialService_GetVendorByNid_InputMessage" />
      <wsdl:output wsaw:Action="urn:IMaterialService/GetVendorByNidResponse" message="IMaterialService_GetVendorByNid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>