NbtPrintClient/Service References/NbtSession/Session4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="NbtWebApp" elementFormDefault="qualified" targetNamespace="NbtWebApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/NbtDev/Services/Session.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChemSW.WebSvc" />
  <xs:import schemaLocation="http://localhost/NbtDev/Services/Session.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Returns" />
  <xs:import schemaLocation="http://localhost/NbtDev/Services/Session.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ChemSW.Nbt.WebServices" />
  <xs:element name="Init">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ChemSW.WebSvc" minOccurs="0" name="Request" nillable="true" type="q1:CswWebSvcSessionAuthenticateData.Authentication.Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Returns" minOccurs="0" name="InitResult" nillable="true" type="q2:CswWebSvcReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="End">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ChemSW.WebSvc" minOccurs="0" name="Request" nillable="true" type="q3:CswWebSvcSessionAuthenticateData.Authentication.Response.Expired" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ChemSW.Nbt.WebServices" minOccurs="0" name="ResetPasswordResult" nillable="true" type="q4:CswNbtWebServiceSession.CswNbtSessionReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>