NbtPrintClient/Service References/NbtSession/Session1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="NbtWebApp" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="NbtWebApp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="NbtWebApp/Imports">
      <xsd:import schemaLocation="http://localhost/NbtDev/Services/Session.svc?xsd=xsd0" namespace="NbtWebApp" />
      <xsd:import schemaLocation="http://localhost/NbtDev/Services/Session.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
      <xsd:import schemaLocation="http://localhost/NbtDev/Services/Session.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/NbtDev/Services/Session.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChemSW.WebSvc" />
      <xsd:import schemaLocation="http://localhost/NbtDev/Services/Session.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Returns" />
      <xsd:import schemaLocation="http://localhost/NbtDev/Services/Session.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ChemSW.Exceptions" />
      <xsd:import schemaLocation="http://localhost/NbtDev/Services/Session.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost/NbtDev/Services/Session.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/ChemSW.Nbt.WebServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Session_Init_InputMessage">
    <wsdl:part name="parameters" element="tns:Init" />
  </wsdl:message>
  <wsdl:message name="Session_Init_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitResponse" />
  </wsdl:message>
  <wsdl:message name="Session_Init_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q1:FaultException" />
  </wsdl:message>
  <wsdl:message name="Session_End_InputMessage">
    <wsdl:part name="parameters" element="tns:End" />
  </wsdl:message>
  <wsdl:message name="Session_End_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndResponse" />
  </wsdl:message>
  <wsdl:message name="Session_End_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q2:FaultException" />
  </wsdl:message>
  <wsdl:message name="Session_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="Session_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="Session_ResetPassword_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q3:FaultException" />
  </wsdl:message>
  <wsdl:portType name="Session">
    <wsdl:operation name="Init">
      <wsdl:input wsaw:Action="NbtWebApp/Session/Init" message="tns:Session_Init_InputMessage" />
      <wsdl:output wsaw:Action="NbtWebApp/Session/InitResponse" message="tns:Session_Init_OutputMessage" />
      <wsdl:fault wsaw:Action="NbtWebApp/Session/InitFaultExceptionFault" name="FaultExceptionFault" message="tns:Session_Init_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="End">
      <wsdl:input wsaw:Action="NbtWebApp/Session/End" message="tns:Session_End_InputMessage" />
      <wsdl:output wsaw:Action="NbtWebApp/Session/EndResponse" message="tns:Session_End_OutputMessage" />
      <wsdl:fault wsaw:Action="NbtWebApp/Session/EndFaultExceptionFault" name="FaultExceptionFault" message="tns:Session_End_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="NbtWebApp/Session/ResetPassword" message="tns:Session_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="NbtWebApp/Session/ResetPasswordResponse" message="tns:Session_ResetPassword_OutputMessage" />
      <wsdl:fault wsaw:Action="NbtWebApp/Session/ResetPasswordFaultExceptionFault" name="FaultExceptionFault" message="tns:Session_ResetPassword_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>