NbtWebApp/etc/CswNbtData.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="reference" />
      <xsd:enumeration value="value" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="source">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="doc" />
      <xsd:enumeration value="proc" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="idrefcontext">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="source" />
      <xsd:enumeration value="destination" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="idrefstate">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="sourceopen" />
      <xsd:enumeration value="sourceresolved" />
      <xsd:enumeration value="destinationopen" />
      <xsd:enumeration value="destinationresolved" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:attributeGroup name="idrefattrs">
    <xsd:attribute name="sourceid" type="xsd:ID" use="optional" />
    <xsd:attribute name="destinationid" type="xsd:string" use="optional" />
    <xsd:attribute name="idrefstate" type="idrefstate" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="nbtentityattrs">
    <xsd:attribute name="name" type="xsd:string" use="optional" />
    <xsd:attribute name="type" type="type" use="required" />
    <xsd:attribute name="source" type="source" use="optional" />
    <xsd:attribute name="docref" type="xsd:IDREF" use="optional" />
    <xsd:attribute name="procref" type="xsd:string" use="optional" />
    <!--<xsd:attribute name="id" type="xsd:ID" use="optional" />
    <xsd:attribute name="idrefcontext" type="idrefcontext" use="optional" />
    <xsd:attribute name="idrefstate" type="idrefstate" use="optional" />-->
  </xsd:attributeGroup>
  <xsd:complexType name="Nbtdataitem">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attributeGroup ref="nbtentityattrs" />
        <xsd:attributeGroup ref="idrefattrs" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DbDetails">
    <xsd:all>
      <xsd:element name="Accessid" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Databaseserver" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Username" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Recorddate" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="Specification">
    <xsd:all>
      <xsd:element name="Customer" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Hostname" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Source" type="DbDetails" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Destination" type="DbDetails" minOccurs="0" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="NbtData">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Specification" type="Specification" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Table" type="Table" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element name="Nodetype" type="Nodetype" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element name="Node" type="Node" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Nodeview">
    <xsd:all>
      <xsd:element name="Viewxml" type="Nbtdataitem" minOccurs="1" maxOccurs="1" />
      <xsd:element name="Viewname" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Rolenode" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Usernode" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Visibility" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Category" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Auditflag" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
    </xsd:all>
    <!--<xsd:attribute name="id" type="xsd:ID" />
    <xsd:attribute name="idrefcontext" type="idrefcontext" use="optional" />
    <xsd:attribute name="idrefstate" type="idrefstate" use="optional" />-->
    <xsd:attributeGroup ref="idrefattrs" />
  </xsd:complexType>
  <xsd:complexType name="Sequence">
    <xsd:all>
      <xsd:element name="Sequencename" type="Nbtdataitem" minOccurs="1" maxOccurs="1" />
      <xsd:element name="Prep" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Post" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Pad" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Currentvalue" type="Nbtdataitem" minOccurs="1" maxOccurs="1" />
      <xsd:element name="Auditflag" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
    </xsd:all>
    <xsd:attributeGroup ref="idrefattrs" />
  </xsd:complexType>
  <xsd:complexType name="Nodetypetabset">
    <xsd:all>
      <xsd:element name="Tabname" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Nodetype" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Tabclass" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Taborder" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Auditflag" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
    </xsd:all>
    <xsd:attributeGroup ref="idrefattrs" />
  </xsd:complexType>
  <xsd:complexType name="Table">
    <xsd:choice>
      <xsd:element name="Nodeview" type="Nodeview" minOccurs="1" maxOccurs="unbounded" />
      <xsd:element name="Sequence" type="Sequence" minOccurs="1" maxOccurs="unbounded" />
      <xsd:element name="Nodetypetabset" type="Nodetypetabset" minOccurs="1" maxOccurs="unbounded" />
    </xsd:choice>
    <xsd:attribute name="name" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="Nodetype">
    <xsd:sequence>
      <xsd:element name="Nodetypename" type="Nbtdataitem" minOccurs="1" maxOccurs="1" />
      <xsd:element name="Objectclass" type="Nbtdataitem" minOccurs="1" maxOccurs="1" />
      <xsd:element name="Category" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Iconfilename" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Nametemplate" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Nodetypeprop" type="Nodetypeprop" minOccurs="1" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attributeGroup ref="idrefattrs" />
  </xsd:complexType>
  <xsd:complexType name="Nodetypeprop">
    <xsd:all>
      <xsd:element name="Propname" type="Nbtdataitem" minOccurs="1" maxOccurs="1" />
      <xsd:element name="Objectclassprop" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Fieldtype" type="Nbtdataitem" minOccurs="1" maxOccurs="1" />
      <xsd:element name="Isrequired" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Readonly" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Nodetypetab" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Sequence" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Nodeview" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Valueprop" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Valueproptype" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Length" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Numberprecision" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Compositetemplate" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Datetoday" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Defaultvalue" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Displaycolumn" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Displayrow" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Isfk" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Listoptions" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Multi" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Statictext" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Textareacolumns" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="TextAreaRows" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Fktype" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Fkvalue" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
    </xsd:all>
    <xsd:attributeGroup ref="idrefattrs" />
  </xsd:complexType>
  <xsd:complexType name="Nodepropbase">
    <xsd:sequence>
      <xsd:element name="Propname" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Nodetypeprop" type="Nbtdataitem" minOccurs="1" maxOccurs="1" />
      <!--<xsd:element name="Gestalt" type="Nbtdataitem" minOccurs="1" maxOccurs="1" />-->
    </xsd:sequence>
    <xsd:attributeGroup ref="idrefattrs" />
  </xsd:complexType>
  <xsd:complexType name="Nodepropbarcode">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Barcode" type="Nbtdataitem" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodepropblob">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Contenttype" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Filename" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Blobdata" type="xsd:hexBinary" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodepropcomposite">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Template" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodepropdate">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Datevalue" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodepropgrid">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Value" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Width" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodeproptext">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Value" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Length" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodeproprelationship">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Relatednode" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Relatednodeid" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Targetnode" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Targetnodetype" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="View" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodepropimage">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Filename" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Width" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodeproplink">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Href" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Text" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodeproplist">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Value" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodeproplocation">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Selectedcolumn" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Selectednode" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Selectedrow" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodeproplogical">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Checked" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodepropmemo">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Columns" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Rows" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Text" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodepropmol">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Value" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodepropmtbf">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Startdatetime" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Unit" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodeproppermissionset">
    <xsd:sequence>
      <xsd:element name="Nodetype" type="Nbtdataitem" minOccurs="1" maxOccurs="1" />
      <xsd:element name="Nodetypepermission" type="Nbtdataitem" minOccurs="1" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Nodeproppermissions">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Nodeproppermissionset" type="Nodeproppermissionset" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodepropnodetypeselect">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Selectmode" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Selectednodetype" type="Nbtdataitem" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodepropnumber">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Value" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodeproppassword">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="EncryptedPassword" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodeproppropertyreference">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Relatedpropid" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Relatedproptype" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Relationshipid" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Relationshiptype" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodepropquantity">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Precision" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Quantity" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Units" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Unitnode" type="Nbtdataitem" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodepropsequence">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Sequence" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodepropstatic">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Columns" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Rows" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Statictext" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodeproptimeinterval">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="RateType" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="WeeklyDay" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="MonthlyDate" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="MonthlyWeek" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="MonthlyDay" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="YearlyDate" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodepropnodetypeproplistoption">
    <xsd:sequence>
      <xsd:element name="Text" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Value" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Nodepropviewpicklist">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Value" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Nodepropnodetypeproplistoption" type="Nodepropnodetypeproplistoption" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodeproplistoptions">
    <xsd:complexContent>
      <xsd:extension base="Nodepropbase">
        <xsd:sequence>
          <xsd:element name="Text" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
          <xsd:element name="Value" type="Nbtdataitem" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Nodeprops">
    <xsd:sequence>
      <xsd:element name="Nodepropbarcode" type="Nodepropbarcode" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodepropblob" type="Nodepropblob" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodepropcomposite" type="Nodepropcomposite" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodepropdate" type="Nodepropdate" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodepropgrid" type="Nodepropgrid" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodepropimage" type="Nodepropimage" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodeproplink" type="Nodeproplink" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodeproplist" type="Nodeproplist" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodeproplistoptions" type="Nodeproplistoptions" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodeproplocation" type="Nodeproplocation" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodeproplogical" type="Nodeproplogical" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodepropmemo" type="Nodepropmemo" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodepropmol" type="Nodepropmol" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodepropmtbf" type="Nodepropmtbf" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodepropnodetypeselect" type="Nodepropnodetypeselect" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodepropnumber" type="Nodepropnumber" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodeproppassword" type="Nodeproppassword" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodeproppermissions" type="Nodeproppermissions" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodeproppropertyreference" type="Nodeproppropertyreference" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodepropquantity" type="Nodepropquantity" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodeproprelationship" type="Nodeproprelationship" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodepropsequence" type="Nodepropsequence" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodepropstatic" type="Nodepropstatic" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodeproptext" type="Nodeproptext" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodeproptimeinterval" type="Nodeproptimeinterval" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Nodepropviewpicklist" type="Nodepropviewpicklist" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Node">
    <xsd:sequence>
      <xsd:element name="Name" type="Nbtdataitem" minOccurs="1" maxOccurs="1" />
      <xsd:element name="Nodetype" type="Nbtdataitem" minOccurs="1" maxOccurs="1" />
      <xsd:element name="Nodeprops" type="Nodeprops" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attributeGroup ref="idrefattrs" />
  </xsd:complexType>
</xsd:schema>