NbtPrintClient/Service References/NbtPublic/NbtPublic3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="NbtWebApp" elementFormDefault="qualified" targetNamespace="NbtWebApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/NbtDev/Services/NbtPublic.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChemSW.WebSvc" />
  <xs:import schemaLocation="http://localhost/NbtDev/Services/NbtPublic.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ChemSW.Nbt.WebServices" />
  <xs:import schemaLocation="http://localhost/NbtDev/Services/NbtPublic.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Logic.Labels" />
  <xs:element name="SessionInit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ChemSW.WebSvc" minOccurs="0" name="Request" nillable="true" type="q1:CswWebSvcSessionAuthenticateData.Authentication.Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionInitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ChemSW.Nbt.WebServices" minOccurs="0" name="SessionInitResult" nillable="true" type="q2:CswNbtWebServiceSession.CswNbtAuthReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionEnd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionEndResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LpcRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Logic.Labels" minOccurs="0" name="Request" nillable="true" type="q3:LabelPrinter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LpcRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ChemSW.Nbt.WebServices" minOccurs="0" name="LpcRegisterResult" nillable="true" type="q4:CswNbtLabelPrinterReg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LpcGetNextJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Logic.Labels" minOccurs="0" name="Request" nillable="true" type="q5:CswNbtLabelJobRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LpcGetNextJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Logic.Labels" minOccurs="0" name="LpcGetNextJobResult" nillable="true" type="q6:CswNbtLabelJobResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LpcGetLabel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Logic.Labels" minOccurs="0" name="Request" nillable="true" type="q7:NbtPrintLabel.Request.Get" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LpcGetLabelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ChemSW.Nbt.WebServices" minOccurs="0" name="LpcGetLabelResult" nillable="true" type="q8:CswNbtLabelEpl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LpcUpdateJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Logic.Labels" minOccurs="0" name="Request" nillable="true" type="q9:CswNbtLabelJobUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LpcUpdateJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/NbtWebApp.WebSvc.Logic.Labels" minOccurs="0" name="LpcUpdateJobResult" nillable="true" type="q10:CswNbtLabelJobUpdateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>