NbtLogic/Service References/NbtSchedSvcRef/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8010/SchedService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChemSW.MtSched.Core" />
  <xs:element name="getRules">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ChemSW.MtSched.Core" minOccurs="0" name="getRulesResult" nillable="true" type="q1:CswSchedSvcReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRunStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ChemSW.MtSched.Core" minOccurs="0" name="CswSchedSvcParams" nillable="true" type="q2:CswSchedSvcParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRunStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ChemSW.MtSched.Core" minOccurs="0" name="getRunStatusResult" nillable="true" type="q3:CswSchedSvcReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getServiceVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="putServiceVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="putServiceVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="putServiceVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>