NbtLogic/Service References/ChemWatchDocumentServices/soap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://jr.chemwatch.net/CWWS.BP.CISPRO/DocumentService.svc/soap?xsd=xsd0" />
      <xsd:import schemaLocation="http://jr.chemwatch.net/CWWS.BP.CISPRO/DocumentService.svc/soap?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://jr.chemwatch.net/CWWS.BP.CISPRO/DocumentService.svc/soap?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://jr.chemwatch.net/CWWS.BP.CISPRO/DocumentService.svc/soap?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumentService_CopyDocuments_InputMessage">
    <wsdl:part name="parameters" element="CopyDocuments" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_CopyDocuments_OutputMessage">
    <wsdl:part name="parameters" element="CopyDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_MoveDocuments_InputMessage">
    <wsdl:part name="parameters" element="MoveDocuments" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_MoveDocuments_OutputMessage">
    <wsdl:part name="parameters" element="MoveDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentsByMaterialId_InputMessage">
    <wsdl:part name="parameters" element="GetDocumentsByMaterialId" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentsByMaterialId_OutputMessage">
    <wsdl:part name="parameters" element="GetDocumentsByMaterialIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentContent_InputMessage">
    <wsdl:part name="parameters" element="GetDocumentContent" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentContent_OutputMessage">
    <wsdl:part name="parameters" element="GetDocumentContentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentContentByExternalUrl_InputMessage">
    <wsdl:part name="parameters" element="GetDocumentContentByExternalUrl" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentContentByExternalUrl_OutputMessage">
    <wsdl:part name="parameters" element="GetDocumentContentByExternalUrlResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_SaveMailRequest_InputMessage">
    <wsdl:part name="parameters" element="SaveMailRequest" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_SaveMailRequest_OutputMessage">
    <wsdl:part name="parameters" element="SaveMailRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocuments_InputMessage">
    <wsdl:part name="parameters" element="GetDocuments" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocuments_OutputMessage">
    <wsdl:part name="parameters" element="GetDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_CloneDocumentById_InputMessage">
    <wsdl:part name="parameters" element="CloneDocumentById" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_CloneDocumentById_OutputMessage">
    <wsdl:part name="parameters" element="CloneDocumentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_CreateDocument_InputMessage">
    <wsdl:part name="parameters" element="CreateDocument" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_CreateDocument_OutputMessage">
    <wsdl:part name="parameters" element="CreateDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="IDocumentService">
    <wsdl:operation name="CopyDocuments">
      <wsdl:input wsaw:Action="urn:IDocumentService/CopyDocuments" message="IDocumentService_CopyDocuments_InputMessage" />
      <wsdl:output wsaw:Action="urn:IDocumentService/CopyDocumentsResponse" message="IDocumentService_CopyDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveDocuments">
      <wsdl:input wsaw:Action="urn:IDocumentService/MoveDocuments" message="IDocumentService_MoveDocuments_InputMessage" />
      <wsdl:output wsaw:Action="urn:IDocumentService/MoveDocumentsResponse" message="IDocumentService_MoveDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsByMaterialId">
      <wsdl:input wsaw:Action="urn:IDocumentService/GetDocumentsByMaterialId" message="IDocumentService_GetDocumentsByMaterialId_InputMessage" />
      <wsdl:output wsaw:Action="urn:IDocumentService/GetDocumentsByMaterialIdResponse" message="IDocumentService_GetDocumentsByMaterialId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentContent">
      <wsdl:input wsaw:Action="urn:IDocumentService/GetDocumentContent" message="IDocumentService_GetDocumentContent_InputMessage" />
      <wsdl:output wsaw:Action="urn:IDocumentService/GetDocumentContentResponse" message="IDocumentService_GetDocumentContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentContentByExternalUrl">
      <wsdl:input wsaw:Action="urn:IDocumentService/GetDocumentContentByExternalUrl" message="IDocumentService_GetDocumentContentByExternalUrl_InputMessage" />
      <wsdl:output wsaw:Action="urn:IDocumentService/GetDocumentContentByExternalUrlResponse" message="IDocumentService_GetDocumentContentByExternalUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveMailRequest">
      <wsdl:input wsaw:Action="urn:IDocumentService/SaveMailRequest" message="IDocumentService_SaveMailRequest_InputMessage" />
      <wsdl:output wsaw:Action="urn:IDocumentService/SaveMailRequestResponse" message="IDocumentService_SaveMailRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocuments">
      <wsdl:input wsaw:Action="urn:IDocumentService/GetDocuments" message="IDocumentService_GetDocuments_InputMessage" />
      <wsdl:output wsaw:Action="urn:IDocumentService/GetDocumentsResponse" message="IDocumentService_GetDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloneDocumentById">
      <wsdl:input wsaw:Action="urn:IDocumentService/CloneDocumentById" message="IDocumentService_CloneDocumentById_InputMessage" />
      <wsdl:output wsaw:Action="urn:IDocumentService/CloneDocumentByIdResponse" message="IDocumentService_CloneDocumentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDocument">
      <wsdl:input wsaw:Action="urn:IDocumentService/CreateDocument" message="IDocumentService_CreateDocument_InputMessage" />
      <wsdl:output wsaw:Action="urn:IDocumentService/CreateDocumentResponse" message="IDocumentService_CreateDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>